  {{#if title}}
    <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
      {{title}}
    </li>
  {{else}}
    <li class="list-group-item sidebar-separator menu-collapsed"></li>
  {{/if}}
  {{yield}}
