<ul class="list-group">
  {{yield}}

  {{#ch-sidebar-group}}
    <a href class="bg-dark list-group-item list-group-item-action d-flex align-items-center" {{action sidebarToggle}}>
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span id="collapse-icon" class="fas fa-lg mr-3"></span>
        <span id="collapse-text" class="menu-collapsed">Collapse</span>
      </div>
    </a>
  {{/ch-sidebar-group}}

  <div class="ranger-logo menu-collapsed">
    <img src="assets/images/ranger-logo.png" alt="ranger logo">
  </div>
</ul>
