<div class="loading-pane">
  <div class="loading-message">
    {{#if this.customMessage}}
      {{this.customMessage}}
    {{else}}
      First, do nothing. We're loading {{this.item}}.
    {{/if}}
    <div class="loading-spinner"></div>
  </div>
</div>
