<p>
  Your Clubhouse account has been (slightly) disabled. This is because you need
  a Burner Profile linked to your Clubhouse account, which you don’t have. Until
  you do this, you can’t sign up for shifts. Don’t worry, this is super easy to
  fix! Go to <a href="https://profiles.burningman.org">Burner Profiles</a> and
  log in there. Write down the user name and email address you use on Burner Profiles.
  (Don’t have a Burner Profile? No problem. Create one.)
</p>
<p>
  Then send your Burner Profile user name and email to the Volunteer Coordinations
  at {{vc-email}} to get this fixed.
</p>
<p class="font-weight-bold text-danger">
  You will not be allowed to sign up for shifts, and/or claim tickets/WAPs/etc until your Burner Profile ID is entered.
</p>
