{{#ch-sidebar}}
  {{#ch-sidebar-group "PROFILE"}}
    {{ch-sidebar-link "person.index" title="Account Info" icon="info" iconType="s"}}
    {{ch-sidebar-link "person.event-info" title="Event/Training Info" icon="user" iconType="s"}}
    {{#if (has-role "admin" "manage+view-pii")}}
      {{ch-sidebar-link "person.personal-info" title="Personal Info" icon="home" iconType="s"}}
    {{/if}}
    {{#if (has-role "admin")}}
      {{ch-sidebar-link "person.password" title="Change Password" icon="key" iconType="s"}}
    {{/if}}
  {{/ch-sidebar-group}}

  <div class="ranger-logo menu-collapsed"></div>

{{/ch-sidebar}}
