{{#ch-sidebar}}
  {{#ch-sidebar-group "PROFILE"}}
    {{ch-sidebar-link "person.index" title="Account Info" icon="info" iconType="s"}}
    {{ch-sidebar-link "person.password" title="Change Password" icon="key" iconType="s"}}
  {{/ch-sidebar-group}}

  <div class="ranger-logo menu-collapsed"></div>

{{/ch-sidebar}}
