<div class="d-print-none">
  <a href {{action backAction}}>{{backLabel}}</a>
  <div class="text-muted mt-1">
    Use the browser's print command to send this page to the printer. Don't
    worry, the navigation bar, footer, and this message will not appear on the
    page.
  </div>
</div>
