{{#ch-sidebar}}
  {{#ch-sidebar-group "SEARCH FOR"}}
    {{ch-sidebar-link "search.person" title="Person" icon="user"}}
    {{ch-sidebar-link "search.assets" title="Assets" icon="broadcast-tower" iconType="s"}}
    {{ch-sidebar-link "search.languages" title="Language" icon="language" iconType="s"}}
    {{ch-sidebar-collapse}}
  {{/ch-sidebar-group}}
  <div class="ranger-logo menu-collapsed"></div>
{{/ch-sidebar}}
