<h4>Position Summary (hours, credits)</h4>
{{#each workedPositions as |position idx|~}}
  {{~if idx ", "}}
  <span class="d-inline-block">{{position.title}} ({{hour-minute-format position.duration}}, {{credits-format position.credits}})</span>
{{~/each}}
