{{#each workedPositions as |position idx|}}
{{if idx ", "}}
<span class="d-inline-block">{{position.title}} ({{credits-format position.credits}}, {{hour-minute-format position.duration}})</span>
{{/each}}
