/*
 * Access document color coding for reports
 */

.access-document-banked {
  background-color: goldenrod !important;
}

.access-document-claimed {
  background-color: lightgreen !important;
}

.access-document-submitted {
  background-color: #81d4fa !important;
}
