/*
 * Access document color coding for reports
 */

.access-document-banked {
  background-color: goldenrod;
}

.access-document-claimed {
  background-color: lightgreen;
}

.access-document-submitted {
  background-color: #81d4fa;
}
