.accordion-container {
  margin-bottom: 5px;
  border: 1px solid #ced4da;
  background-color: #fcfcfc;
}

.accordion-title {
  display: flex;
  justify-content: space-between;

  padding: 10px;
  background-color: #e9ecef;
  font-size: 1rem;

  &:hover {
    background-color: #dee2e6 !important;

  }
}

.accordion-title-icon {
  margin-left: 5px;
  width: 15px;
}

.accordion-body {
  padding: 10px;
}
