.accordion-container {
  margin-bottom: 5px;
  border: 1px solid #ced4da;
  background-color: #fcfcfc;
}

.accordion-title {
  > button {
    display: flex;
    width: 100%;
    /*  justify-content: space-between;*/

    padding: 10px;
    background-color: #e9ecef;
    font-size: 1rem;

    margin: 0 !important;
    border: none !important;
  }

  &:hover, > button:hover {
    background-color: #dee2e6 !important;
  }
}

.accordion-title-icon {
  margin-right: 5px;
  width: 15px;
}

.accordion-body {
  padding: 10px;
}
