/*
 * Dead tree media support (aka printing!)
 *
 * The stylesheet is geared for the Alpha Acceptance Sheet.
 */

.alpha-sheet-header {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left:auto;
}
// Section header
.alpha-sheet-section-header {
  width: 100%;
  background-color: #ececec;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

.alpha-sheet-logo {
  height: 60px;
}

.alpha-sheet-table {
  width: 100%;
  border-spacing: 10px 0;
  border-collapse: separate;
  th {
    font-size: 1rem;
  }
  td {
    padding: 10px;
  }
}

.alpha-sheet-headshot-box {
  height: 300px;
  width: 210px;
  margin: 0 auto;
  img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    max-height: 288px;
    vertical-align: center;
  }
 }

.alpha-sheet-column {
  width: 100%;
  padding: 0 10px;
  margin-top: 10px;
}

.alpha-sheet-column-lg {
  font-size: 1.8rem !important;
}

.alpha-sheet-column-label {
  font-size: 1.2rem;
  font-weight: 500;
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.alpha-sheet-column-field {
  display: inline-block;
  width: 69%;
  font-size: 1.1rem;
}

.alpha-sheet-column-auto {
  width: auto !important;
  margin-right: 5px;
}

.alpha-sheet-column-input {
  display: inline-block;
  width: 55%;
  border-bottom: 1px solid #222;
  font-size: 1.2rem;
  vertical-align: bottom;
}

.alpha-sheet-comment-box-md {
  font-size: 1rem;
  margin: 5px 0;
  min-height: 75px;
  padding-left: 15px;
}

.alpha-sheet-comment-box-lg {
  font-size: 1.1rem;
  margin: 20px 0;
  border-top: 1px solid #222;
  height: 150px;
}

.alpha-sheet-footer {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

@media print {
  .alpha-sheet-footer {
    position: fixed;
    bottom: 50px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
