@keyframes blink-keyframes {
  from {
    background-color: #FFC300;
  }
  to {
    background-color: inherit;
  }
}

.blink-row {
  td {
    animation: blink-keyframes 0.75s linear 2;
  }
}

.blink-box {
  animation: blink-keyframes 0.75s linear 2;
}
