
@import "bootstrap-custom";

// Clubhouse styling
@import "access-documents";
@import "accordion";
@import "alpha-sheet";
@import "autocomplete";
@import "dashboard";
@import "hq";
@import "mail";
@import "masonry";
@import "notice";
@import "photo";
@import "rollcall";
@import "schedule";
@import "sidebar";
@import "tables";
@import "ticketing";
@import "timesheet";
@import "timesheet-log";
@import "training-print";


main {
  flex: 1 1 0;
  min-width: 0;
  padding: 10px 20px;
  background-color: #f6f6f6;
}

.ui-section {
  margin-bottom: 10px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgb(50 50 50 / 50%); //rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


@media print {
  h1 {
    font-size: 1.2rem;
  }

  body {
    margin: 0.1cm !important;
    line-height: 1.3;
    background: #ffffff !important;
    color: #000;
  }

  section {
    padding: 0 !important;
  }

  .d-print-page-break {
    page-break-before: always;
  }

  main {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #ffffff !important;
  }

  a {
    text-decoration: none !important;
    color: #000 !important;
  }

}

#body-row {
  display: flex;
  //flex-direction: row;
  flex-wrap: wrap;

}

@include media-breakpoint-down(lg) {
  // Reduce padding on small screens.
  main {
    padding: 5px 10px;
  }
}

@media not print {
  body {
    background-color: #fcfcfc;
  }
}

h1 select, h1 option, .h1 select, .h1 option {
  font-size: $h1-font-size;
}

h2 select, h2 option, .h2 select, .h2 option {
  font-size: $h2-font-size;
}

h3 select, h3 option, .h3 select, .h3 option {
  font-size: $h3-font-size;
}

.text-black {
  color: #000 !important;
}

// Indicate action on elements which are clickable
[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed !important;
}

dl {
  margin-bottom: 0;
}

.min-width-500 {
  min-width: 500px;
  overflow: auto;
}

.min-width-1000 {
  min-width: 1000px;
}

.dropdown-large {
  position: static;
}

.dropdown-menu-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  min-width: 230px;
}

@include media-breakpoint-up(lg) {
  .dropdown-menu-container {
    flex-direction: row;
  }
}

.dropdown-menu-section {
  min-width: 200px;
}

.dropdown-menu .navbar-text {
  margin-left: 10px;
  font-weight: 500;
  font-size: 1.1rem;
  color: #222;
}

@include media-breakpoint-down(xl) {
  .navbar-brand {
    margin-right: 0;
  }
}

.footer {
  width: 100%;
  padding: 15px 0;
  color: #000;
  background-color: $kakhi;

  a, a:visited {
    color: #000;
    font-weight: bold;
  }

  > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

ul.nav-pills li > a.is_active {
  background-color: #747c84;
}

ul.nav-pills a.is_active {
  color: #fff;
}

ul.nav-pills li > a:not(.is_active) {
  background-color: #ececec;
}

ul.nav-pills li {
  margin-right: 5px;
}

.nav-pills .nav-link:hover {
  border: solid 1px #ccc;
}

/**
 * Progress bars with centered text
 */

.progress span {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card-header {
  font-weight: 500;

  button, a {
    text-align: left !important;
  }

  a {
    display: block;
    margin: 10px;
    font-size: 1.2rem;
  }
}

.progress-h25 {
  height: 25px;
}

.card-hover:hover {
  background-color: #dee2e6 !important;
}

.form-text-invalid {
  font-size: 0.9em;
  color: #dc3545;
}

legend {
  border-bottom: 1px solid #dcdcdc;
  font-size: 1rem;
  font-weight: bold;
}

.form-check-label:hover {
  background-color: #f0f0f0;
}

@media only screen and (max-width: 799px) {
  .form-check-inline-responsive .form-check-inline {
    display: block !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.year-select {
  font-size: 1.4em;
}

.toast-container {
  z-index: 99999;
}

.modal-header {
  background-color: #f0f0f0;
}

.modal-footer-no-align {
  justify-content: inherit !important;
}

.no-wrap {
  white-space: nowrap;
}

@include media-breakpoint-down(xl) {
  .col-form-label-fixed {
    width: 100% !important;
    display: block;
  }
}

@include media-breakpoint-up(xl) {
  .col-form-label-fixed {
    width: 120px !important;
  }
}



.popover-container {
  position: relative;
  display: inline-block;

  .popover {
    width: $popover-max-width;
    @include box-shadow($box-shadow);
  }

  .popover-top {
    top: -300px;
  }

  .popover-bottom {
    top: 25px;
  }

  .popover-left {
    left: -($popover-max-width + 10px);
  }

  .popover-right {
    left: 10px;
  }

  .popover-body {
    overflow-y: auto;
    max-height: 250px;
  }

  .popover-footer {
    border-top: 1px solid #eee;
    padding: 10px;
    margin-top: 10px;
    text-align: right;
  }
}

/*
 * JSON formatter
 */

.json-formatter-row {
  font-size: 0.9rem;
}

/*
 * Safari printing work around
 */

@media print {
  .container {
    width: auto;
  }
}

/*
 * Shift Lead Reports
 */

.bg-shift-lead-greendot {
  background-color: #d8fbd8 !important;
}

.text-shift-lead-greendot {
  color: #038403 !important;
}

.bg-shift-lead-troubleshooter {
  background-color: #ffff99 !important;

}

.text-shift-lead-troubleshooter {
  color: #555 !important;
}

.rbs-green-button,
.rbs-green-button a:visited {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.rbs-yellow-button,
.rbs-yellow-button a:visited {
  background-color: #fff3cd;
  color: #856404;
  border-color: #ffeeba;
}

.rbs-red-button,
.rbs-red-button a:visited {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

// Slot information icon
.info-icon {
  // readjust the size - the schedule listing reduces the font.
  color: $link-color;
  font-size: 1rem;
}

// Unified Flagging View Ranking styling

.rank-none {
  font-style: italic;
  color: $gray-600;
}

// Rank 1 / Green, above average
.rank-1 {
  color: #28a745;
}

// Rank 2 - no styling

// Rank 3 - Yellow / Problem
.rank-3 {
  color: #9a9005;
}

// Rank 4 - FLAG
.rank-4 {
  color: #dc3545;
}

.rank-1, .rank-2, .rank-3, .rank-4, .rank-none {
  display: inline-block;
}

.homepage-title {
  font-weight: 500;
}

@include media-breakpoint-up(xl) {
  .homepage-title {
    font-size: $h1-font-size;
  }
}

@include media-breakpoint-down(xl) {
  .homepage-title {
    font-size: $h2-font-size;
  }
}

.btn-block { width: 100%; display: block; }

@include media-breakpoint-down(xl) {
  .btn-responsive {
    display: block;
    width: 100%;
  }
}

.person-manage-header {
  background-color: #f4f4f4 !important;
  margin: -10px -20px 15px -20px; // Pull the header back so no gaps appear
  padding: 10px 20px; // Realign text with body
  border-bottom: 1px solid #e0e0e0;
}

@media print {
  .person-manage-header {
    display: none;
  }
}


.person-manage-header-title {
  display: flex;
}

.person-manage-callsign {
  flex: 1;
  font-size: $h3-font-size;
  font-weight: 500;
}

.person-manage-pronounce {
  font-size: $h4-font-size;
}

.person-manage-pronouns {
  display: inline-block;
  font-size: $h4-font-size;
}

.person-manage-info {
  width: 100%;
}

@include media-breakpoint-down(md) {
  .person-manage-header-title {
    flex-direction: column;
    align-items: normal;
  }
}

.max-width-700 {
  max-width: 700px;
}

.max-width-900 {
  max-width: 900px;
}

.max-width-1000 {
  max-width: 1000px;
}

.callsign-list {
  column-count: auto;
  column-width: 16ch;

  > a {
    display: block;
  }

  > div, > a {
    overflow-wrap: break-word;
    padding: 0 5px;
    margin-bottom: 5px;
  }

  > div:hover, > a:hover {
    background-color: #d8fbd8;
  }
}

ul.no-indent, ol.no-indent {
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 0;
  margin-top: 5px;

  li {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.overflow-y-auto {
  overflow-y: auto;
}

.nav-text {
  padding: $nav-link-padding-y 0;
}

.page-progress {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
}

.page-progress .bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 10px;
  box-shadow: 0 0 10px rgba(0, 13, 41, 0.8);
  transition: none;
}

.columns-container {
  column-width: auto;
}

.columns-3 {
  column-count: 3;
}

.columns-4 {
  column-count: 4;
}

.columns-5 {
  column-count: 5;
}
