//
// Bootstrap customizations
//

$enable-responsive-font-sizes: true;
$enable-shadows: true;

$kakhi: #d2b48c;
$wheatfield: #ded7be;

$theme-colors: (
  "primary": $kakhi,
  "khaki": $kakhi,
  "gray": #dcdcdc,
  "orange": #ff8c00,
  "light-gray": #f0f0f0,
  "dark-gray": #808080,
  "light-red": #ff6666,
  "highlight": #ffff99,
  "wheatfield": $wheatfield,
);

// bootstrap set the link-color to the primary color
$link-color: #007bff;

$navbar-light-color: #28221b;
$navbar-light-hover-color: #0139cc;

// Do not enable rounded corners
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

$card-spacer-y: 0.5rem !default;
$card-spacer-x: 0.75rem !default;

// Adjust h tags
$font-size-base: 0.9rem;

$h1-font-size: $font-size-base * 1.75;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.35;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.1;
$h6-font-size: $font-size-base;

$modal-header-padding: 0.75rem !important;
$modal-sm: 99%;
$modal-md: 90%;
$modal-footer-border-width: 0;

$popover-max-width: 450px;

// Add additional w-XX width sizes beyond what bootstrap provides.
$sizes: (
  5: 5%,
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  30: 30%,
  35: 35%,
  40: 40%,
  45: 45%,
  50: 50%,
  55: 55%,
  60: 60%,
  65: 65%,
  70: 70%,
  75: 75%,
  80: 80%,
  85: 85%,
  90: 90%,
  95: 95%,
  100: 100%,
  auto: auto
);

@import "bootstrap-custom";

// Clubhouse styling
@import "access-documents";
@import "accordion";
@import "alpha-sheet";
@import "autocomplete";
@import "dashboard";
@import "hq";
@import "mail";
@import "notice";
@import "photo";
@import "rollcall";
@import "schedule";
@import "sidebar";
@import "ticketing";
@import "timesheet";
@import "timesheet-log";
@import "training-print";

@media print {
  h1 {
    font-size: 1.2rem;
  }

  body {
    margin: 0.1cm !important;
    line-height: 1.3;
    background: #ffffff !important;
    color: #000;
  }

  .d-print-page-break {
    page-break-before: always;
  }

  main {
    margin: 0 !important;
    padding: 0 !important;
  }

  a {
    text-decoration: none !important;
    color: #000 !important;
  }

}

#body-row {
  display: flex;
  flex-direction: row;
}

main {
  flex: 1 1 0;
  min-width: 0;
  padding: 10px 20px;
}

.table-fixed {
  table-layout: fixed;
}

@media not print {
  body {
    background-color: #fcfcfc;
  }

  .table-sticky {
    thead tr:nth-child(1) th {
      background: $table-head-bg;
      position: sticky;
      top: 0;
      z-index: 10;
    }
  }
}

h1 select, h1 option, .h1 select, .h1 option {
  font-size: $h1-font-size;
}

h2 select, h2 option, .h2 select, .h2 option {
  font-size: $h2-font-size;
}

h3 select, h3 option, .h3 select, .h3 option {
  font-size: $h3-font-size;
}

.text-black {
  color: #000 !important;
}

// Indicate action on elements which are clickable
[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed !important;
}

dl {
  margin-bottom: 0;
}

.min-width-500 {
  min-width: 500px;
  overflow: auto;
}

.min-width-1000 {
  min-width: 1000px;
}

.dropdown-large {
  position: static;
}

.dropdown-menu-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
}

@include media-breakpoint-up(lg) {
  .dropdown-menu-container {
    flex-direction: row;
  }
}

.dropdown-menu-section {
  width: 190px;
}

.dropdown-menu .navbar-text {
  margin-left: 24px;
  font-weight: bold;
  font-size: 1.1em;
  color: #222;
}

@include media-breakpoint-down(lg) {
  .navbar-brand {
    margin-right: 0;
  }
}

.footer {
  width: 100%;
  padding: 15px 0;
  color: #000;
  background-color: $kakhi;
}

.footer {
  a, a:visited {
    color: #000;
    font-weight: bold;
  }

  > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

ul.nav-pills li > a.is_active {
  background-color: #747c84;
}

ul.nav-pills a.is_active {
  color: #fff;
}

ul.nav-pills li > a:not(.is_active) {
  background-color: #ececec;
}

ul.nav-pills li {
  margin-right: 5px;
}

.nav-pills .nav-link:hover {
  border: solid 1px #ccc;
}

/**
 * Progress bars with centered text
 */

.progress span {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card-header {
  font-weight: bold;

  button {
    text-align: left !important;
  }
}

.card-hover:hover {
  background-color: #dee2e6 !important;
}

.form-text-invalid {
  font-size: 0.9em;
  color: #dc3545;
}

legend {
  border-bottom: 1px solid #dcdcdc;
  font-size: 1rem;
  font-weight: bold;
}

.form-check-label:hover {
  background-color: #f0f0f0;
}

@media only screen and (max-width: 799px) {
  .form-check-inline-responsive .form-check-inline {
    display: block !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.year-select {
  font-size: 1.4em;
}

.loading-pane {
  margin: 25px auto;
}

.loading-message {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.loading-spinner {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  background-image: url("images/spinner.gif");
  background-size: cover;
}

.loading-spinner-inline {
  display: inline-block;
  height: 14px;
  width: 14px;
  background-image: url("images/spinner.gif");
  background-size: cover;
}

/*
 * position the flash messages on top
*/

.flash-message {
  position: fixed;
  top: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  max-width: 600px;
  z-index: 2000;
  // Needs to be higher than the modal and tooltips z-indexs
}

.modal-header {
  background-color: #f0f0f0;
}

.modal-footer-no-align {
  justify-content: inherit !important;
}

/*
 * Add a box around a table
 */

table.table-box {
  border: 1px solid #bebebe;

  caption {
    border: 1px solid #bebebe;
    border-bottom: none;
  }
}

.table-sm {
  font-size: 0.9em;
}

/*
 * Default to thead-light setting for thead
 */

.table thead th {
  color: $table-head-color;
  background-color: $table-head-bg;
  border-color: $table-border-color;
}

/*
 * Remove border on a row
 */

.no-border td {
  border: none !important;
}

caption {
  caption-side: top;
  color: #000;
  background-color: #c8d2dc;
  font-size: 1rem;
  padding: 5px 10px;
}

.table-sm caption {
  padding: 5px;
}

.table-width-auto {
  width: auto !important;
}

.tr-no-border td {
  border: 0 !important;
}

@include media-breakpoint-down(md) {
  .col-form-label-fixed {
    width: 100% !important;
    display: block;
  }
}

@include media-breakpoint-up(lg) {
  .col-form-label-fixed {
    width: 120px !important;
  }
}


/*
 * Toastr message overrides
 */

@include media-breakpoint-down(md) {
  #toast-container > div {
    width: 96% !important;
  }
}

@include media-breakpoint-up(lg) {
  #toast-container > div {
    width: 500px !important;
  }
}

/* Remove opacity */
.toast {
  opacity: 1 !important;
}

#toast-container > div {
  opacity: 1 !important;
}

.popover-container {
  position: relative;
  display: inline-block;

  .popover {
    width: $popover-max-width;
    @include box-shadow($modal-content-box-shadow-sm-up);
  }

  .popover-top {
    top: -300px;
  }

  .popover-bottom {
    top: 25px;
  }

  .popover-left {
    left: -($popover-max-width + 10px);
  }

  .popover-right {
    left: 10px;
  }

  .popover-body {
    overflow-y: auto;
    max-height: 250px;
  }

  .popover-footer {
    border-top: 1px solid #eee;
    padding: 10px;
    margin-top: 10px;
    text-align: right;
  }
}

/*
 * JSON formatter
 */

.json-formatter-row {
  font-size: 0.9rem;
}

/*
 * Safari printing work around
 */

@media print {
  .container {
    width: auto;
  }
}

/*
 * Shift Lead Reports
 */

.bg-shift-lead-greendot {
  background-color: #d8fbd8;
}

.text-shift-lead-greendot {
  color: #038403;
}

.bg-shift-lead-troubleshooter {
  background-color: #ffff99;

}

.text-shift-lead-troubleshooter {
  color: #555;
}

.rbs-green-button,
.rbs-green-button a:visited {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.rbs-yellow-button,
.rbs-yellow-button a:visited {
  background-color: #fff3cd;
  color: #856404;
  border-color: #ffeeba;
}

.rbs-red-button,
.rbs-red-button a:visited {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

// Slot information icon
.info-icon {
  // readjust the size - the schedule listing reduces the font.
  color: $link-color;
  font-size: 1rem;
}

// Unified Flagging View Ranking styling

.rank-none {
  font-style: italic;
  color: $gray-600;
}

// Rank 1 / Green, above average
.rank-1 {
  color: #28a745;
}

// Rank 2 - no styling

// Rank 3 - Yellow / Problem
.rank-3 {
  color: #9a9005;
}

// Rank 4 - FLAG
.rank-4 {
  color: #dc3545;
}

.rank-1, .rank-2, .rank-3, .rank-4, .rank-none {
  display: inline-block;
}

.homepage-title {
  font-weight: 500;
}

@include media-breakpoint-up(lg) {
  .homepage-title {
    font-size: $h1-font-size;
  }
}

@include media-breakpoint-down(md) {
  .homepage-title {
    font-size: $h2-font-size;
  }
}

@include media-breakpoint-down(md) {
  .btn-responsive {
    display: block;
    width: 100%;
  }
}

.person-manage-header {
  background-color: #f4f4f4 !important;
  margin: -10px -20px 15px -20px;  // Pull the header back so no gaps appear
  padding: 10px 20px;  // Realign text with body
  border-bottom: 1px solid #e0e0e0;
}

.person-manage-header-title {
  display: flex;
  align-items: center;
}

.person-manage-callsign {
  flex: 1;
  font-size: $h2-font-size;
  font-weight: 500;
}

.person-manage-identity {
  font-size: $h4-font-size;
}

.person-manage-info {
  width: 100%;
}

@include media-breakpoint-down(md) {
  .person-manage-header-title {
    flex-direction: column;
    align-items: normal;
  }
}

.max-width-700 {
  max-width: 700px;
}

.max-width-900 {
  max-width: 900px;
}

.max-width-1000 {
  max-width: 1000px;
}

.callsign-list {
  display: flex;
  flex-wrap: wrap;

  > div {
    width: 120px;
    padding: 5px;
    overflow-wrap: break-word;
  }

  > div:hover {
    background-color: #ececec;
  }
}

ul.no-indent {
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 0;
  margin-top: 5px;

  li {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.overflow-y-auto {
  overflow-y: auto;
}
