//
// Bootstrap customizations
//

$enable-responsive-font-sizes: true;
$enable-shadows: true;

$kakhi: #d2b48c;
$wheatfield: #ded7be;

$theme-colors: (
  "primary": $kakhi,
  "khaki": $kakhi,
  "gray": #dcdcdc,
  "light-gray": #f0f0f0,
  "dark-gray": #808080,
  "light-red": #ff6666,
  "highlight": #ffff99,
  "wheatfield": $wheatfield,
  "person": #444
);

// bootstrap set the link-color to the primary color
$link-color: #007bff;

// Do not enable rounded corners
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

$card-spacer-y: 0.5rem !default;
$card-spacer-x: 0.75rem !default;

// Adjust h tags
$font-size-base: 0.9rem;

$h1-font-size: $font-size-base * 1.75;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.35;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.1;
$h6-font-size: $font-size-base;

$modal-header-padding: 0.75rem !important;
$modal-sm: 99%;
$modal-md: 90%;
$modal-footer-border-width: 0;

$popover-max-width: 400px;

// Add additional w-XX width sizes beyond what bootstrap provides.
$sizes: (
  5: 5%,
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  30: 30%,
  35: 35%,
  40: 40%,
  45: 45%,
  50: 50%,
  55: 55%,
  60: 60%,
  65: 65%,
  70: 70%,
  75: 75%,
  80: 80%,
  85: 85%,
  90: 90%,
  95: 95%,
  100: 100%,
  auto: auto
);

@import "bootstrap-custom";

// Addons
@import "ember-power-select/themes/bootstrap";
@import "ember-power-select";
@import "ember-power-select-typeahead";

// Clubhouse styling
@import "access-documents";
@import "alpha-sheet";
@import "hq";
@import "onboard";
@import "photo";
@import "schedule";
@import "sidebar";
@import "ticketing";
@import "timesheet-log";
@import "timesheet";
@import "training-print";

@media print {
  h1 {
    font-size: 1.2rem;
  }

  body {
    margin: 0.1cm !important;
    line-height: 1.3;
    background: #ffffff !important;
    color: #000;
  }

  .d-print-page-break {
    page-break-before: always;
  }

  #body-row,
  main,
  main.col {
    margin: 0 !important;
    padding: 0 !important;
  }

  a {
    text-decoration: none !important;
    color: #000 !important;
  }

}

@media not print {
  body {
    background-color: #fcfcfc;
  }

}

h1 select option {
  font-size: $h1-font-size;
}

h2 select option {
  font-size: $h2-font-size;
}

h3 select option {
  font-size: $h3-font-size;
}

.text-black {
  color: #000 !important;
}

// Indicate action on elements which are clickable
[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

main {
  margin: 10px 0;
}

dl {
  margin-bottom: 0;
}

.min-width-500 {
  min-width: 500px;
}

.dropdown-large {
  position: static;
}

.dropdown-menu-large {
  width: 90%;
  left: 0;
  right: 0;
  /*  height of nav-item  */
  top: 45px;
}

.dropdown-menu .navbar-text {
  margin-left: 24px;
  font-weight: bold;
  font-size: 1.1em;
  color: #222;
}

@media only screen and (max-width: 799px) {
  .navbar-brand {
    margin-right: 0;
  }
}

.footer {
  width: 100%;
  padding: 15px 0;
  color: #000;
  background-color: $kakhi;
}

.footer {
  a,
  a:visited {
    color: #000;
    font-weight: bold;
  }

  > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

ul.nav-pills li > a.is_active {
  background-color: #747c84;
}

ul.nav-pills a.is_active {
  color: #fff;
}

ul.nav-pills li > a:not(.is_active) {
  background-color: #ececec;
}

ul.nav-pills li {
  margin-right: 5px;
}

.nav-pills .nav-link:hover {
  border: solid 1px #ccc;
}

/**
 * Progress bars with centered text
 */

.progress span {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card-header {
  font-weight: bold;

  button {
    text-align: left !important;
  }
}

.form-text-invalid {
  font-size: 0.9em;
  color: #dc3545;
}

legend {
  padding-left: 10px;
  border-bottom: 1px solid #ececec;
  font-size: 1.2rem;
  font-weight: bold;
}

.form-group,
.form-row {
  padding-left: 10px;
}

.form-check-label:hover {
  background-color: #f0f0f0;
}

/* Messages */

.person-message-box {
  margin-bottom: 10px;
}

.person-message-header {
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #f0f0f0;
}

.year-select {
  font-size: 1.4em;
}

.error-pane {
  margin: 25px auto;
}

.error-message {
  color: red;
}

.loading-pane {
  margin: 25px auto;
}

.loading-message {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.loading-spinner {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  background-image: url("images/spinner.gif");
  background-size: cover;
}

.loading-spinner-inline {
  display: inline-block;
  height: 14px;
  width: 14px;
  background-image: url("images/spinner.gif");
  background-size: cover;
}

.ranger-logo {
  text-align: center;
  margin: 40px auto 0;

  height: 200px;
  width: 200px;

  img {
    height: 180px;
    width: 180px;
  }
}

/*
 * position the flash messages on top
*/

.flash-message {
  position: fixed;
  top: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  max-width: 600px;
  z-index: 2000;
  // Needs to be higher than the modal and tooltips z-indexs
}

.modal-header {
  background-color: #f0f0f0;
}

/*
 * Add a box around a table
 */

table.table-box {
  border: 1px solid #bebebe;

  caption {
    border: 1px solid #bebebe;
    border-bottom: none;
  }
}

.table-sm {
  font-size: 0.9em;
}

/*
 * Default to thead-light setting for thead
 */

.table thead th {
  color: $table-head-color;
  background-color: $table-head-bg;
  border-color: $table-border-color;
}

/*
 * Remove border on a row
 */

.no-border td {
  border: none !important;
}

caption {
  caption-side: top;
  color: #000;
  background-color: #c8d2dc;
  font-size: 1rem;
  padding: 5px 10px;
}

.table-sm caption {
  padding: 5px;
}

.table-width-auto {
  width: auto !important;
}

.tr-no-border td {
  border: 0 !important;
}

.col-form-label-fixed {
  width: 100px !important;
  max-width: 100px;
  min-width: 100px;
}

.sidebar-icon {
  width: 20px;
  height: 20px;
}

/*
 * ember power select fix when using within a modal
 */

.ember-power-select-dropdown {
  z-index: 3500;
}

/*
 * Toastr message overrides
 */

@media only screen and (max-width: 799px) {
  #toast-container > div {
    width: 96% !important;
  }
}

@media only screen and (min-width: 800px) {
  #toast-container > div {
    width: 500px !important;
  }
}

/* Remove opacity */
.toast {
  opacity: 1 !important;
}

#toast-container > div {
  opacity: 1 !important;
}

.popover-container {
  position: relative;
  display: inline-block;

  .popover {
    width: $popover-max-width;
    @include box-shadow($modal-content-box-shadow-sm-up);
  }

  .popover-top {
    top: -300px;
  }

  .popover-bottom {
    top: 25px;
  }

  .popover-left {
    left: -($popover-max-width + 10px);
  }

  .popover-right {
    left: 10px;
  }

  .popover-body {
    overflow-y: auto;
    max-height: 250px;
  }

  .popover-footer {
    border-top: 1px solid #eee;
    padding: 10px;
    margin-top: 10px;
    text-align: right;
  }
}

/*
 * JSON formatter
 */

.json-formatter-row {
  font-size: 0.9rem;
}

/*
 * Safari printing work around
 */

@media print {
  .container {
    width: auto;
  }
}

/*
 * Shift Lead Reports
 */

.bg-shift-lead-greendot {
  background-color: #d8fbd8;
}

.text-shift-lead-greendot {
  color: #038403;
}

.bg-shift-lead-troubleshooter {
  background-color: #ffff99;

}

.text-shift-lead-troubleshooter {
  color: #555;
}

.rbs-green-button,
.rbs-green-button a:visited {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.rbs-yellow-button,
.rbs-yellow-button a:visited {
  background-color: #fff3cd;
  color: #856404;
  border-color: #ffeeba;
}

.rbs-red-button,
.rbs-red-button a:visited {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

// Slot information icon
.info-icon {
  // readjust the size - the schedule listing reduces the font.
  color: $link-color;
  font-size: 1rem;
}
