/*
  Autocomplete field styling (callsign search, search bar, etc.)
 */

.autocomplete-input-block {
  position: relative;
  border: 2px solid #f0f0f0;
  border-radius: 8px;
}

.autocomplete-focused {
  border: 2px solid #ec9326;
}

.autocomplete-focused input {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}


.autocomplete-list {
  margin: 0;
  padding: 0;
}

.autocomplete-title {
  padding: 5px 10px;
  font-size: 0.95em;
  color: #666;
}

.autocomplete-group-header {
  background-color: #ececec;
  color: #0a3954;
  font-size: 0.95em !important;
  padding: 5px 10px;
}

.autocomplete-item {
  padding: 5px 10px;
  font-size: 1.1em;
}

.autocomplete-item:hover {
  background-color: #ffff99;
}

.autocomplete-results-box-dropdown {
  position: absolute;
  z-index: 9500;
  box-shadow: 0 1px 5px 0 rgb(50 50 50 / 50%);
  max-height: 20em;
  overflow-y: auto;
  background-color: #fafafa;
  margin-top: 0.25rem;
  border: 2px solid #ececec;
  border-radius: 5px;
}

.autocomplete-results-box {
  width: 100%;
  padding: 5px 0;
}

.autocomplete-no-results {
  padding: 5px 10px;
  color: #720000;
}

.autocomplete-info {
  padding: 5px 10px;
  color: #234d3c;
}

.autocomplete-option-selected {
  background-color: #d8fbd8;
}
