/*
   Ranger/PNV/Auditor dashboard style sheet
 */

.dashboard-box {
  max-width: 1000px;
}

.dashboard-group {
  display: flex;
  margin-bottom: 10px;
  //box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: 0 1px 5px 0 rgb(50 50 50 / 50%);
  background-color: #fcfcfc;

  .mugshot {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
}

.dashboard-group-title-box {
  background-color: $wheatfield;
  font-weight: 400;
}


.dashboard-steps {
  flex: 1;
  background-color: #fcfcfc;
  padding-top: 10px;
}

.dashboard-step-header {
  padding: 5px 5px 10px 10px;
  font-weight: 400;
  color: #152A23;
  font-size: 0.85rem;
}

.dashboard-group-active {
  .dashboard-group-title-box {
    background-color: $kakhi !important;
    font-weight: 500;
  }

  .dashboard-steps {
    background-color: #fcf8e3 !important;
  }
}

.dashboard-step-row {
  margin-bottom: 10px;
}

.dashboard-icon {
  display: inline-block;
  text-align: center;
}


.dashboard-step-title {
  margin: 0 5px 7px 5px;
  vertical-align: center;
  font-weight: 600;
  color: #495057;
}

.dashboard-step-description {
  font-weight: 400;
  color: #6c757d;
  max-width: min(600px, 100%);
}

.dashboard-step-active {
  .dashboard-step-title {
    color: #000 !important;
  }

  .dashboard-step-description {
    color: #000 !important;
  }
}

.dashboard-art-table {
  margin: 10px 0 15px 0;
  background-color: #ffffff;
 // box-shadow: 5px 5px 5px #888888;
  //box-shadow: 0 0 5px 5px #dcdcdc;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.dashboard-art-row {
  padding: 5px;
  border-bottom: 1px solid #ced4da;
}

.dashboard-art-icon {
  min-width: 20px;
}

.dashboard-art-header {
  font-weight: 500;
  background-color: #e9ecef;
}




/*
 * Mobile screens - transform the group title text from a column
 * to a row.
 */

@include media-breakpoint-down(lg) {
  .dashboard-sub-heading {
    font-size: 4vw;
  }
  .dashboard-group {
    flex-direction: column;
  }

  .dashboard-group-title-box {
    padding: 5px 10px;
  }

  .dashboard-group-title-text {
    padding-top: 5px;
    font-size: 1rem;
  }

  .dashboard-step {
    margin-left: 0 !important;
  }

  .dashboard-icon {
    width: 30px;
  }

  .dashboard-step-title {
    margin: 0 5px;
  }

  .dashboard-step-active .dashboard-step-title {
    font-size: 1rem;
    margin: 5px 5px 7px 5px;
  }

  .dashboard-step-description {
    margin: 5px 10px 5px 10px;
  }


  .dashboard-box .mugshot {
    margin: 10px auto;
  }

  .dashboard-button {
    width: 100%;
  }

  .dashboard-art-icon {
    display: inline-block;
    text-align: center;
  }

  .dashboard-art-position {
    display: inline-block;
    width: 60%;
  }

  .dashboard-art-status {
    display: inline-block;
    width: 25%;
  }

  .dashboard-art-location {
    display: inline-block;
    width: 100%;
    padding-left: 25px;
  }
}

/*
  Desktop/tablet view
 */
@include media-breakpoint-up(lg) {
  .dashboard-group-title-box {
    padding: 5px 15px 10px 15px;
    text-align: center;
    width: 160px;
    position: relative;
  }

  .dashboard-group-title-text {
    font-size: 1.1rem;
    padding-top: 10px;
    line-height: 35px;
    text-align: center;
  }

  .dashboard-step-row {
    margin-right: 10px;
  }

  .dashboard-icon {
    width: 40px;
    font-size: 1.4rem;
  }

  .dashboard-step-title {
    font-size: 1rem;
  }

  .dashboard-step-description {
    margin-left: 50px;
  }

  .dashboard-group-bottom-arrow:after,
  .dashboard-group-top-arrow:before {
    position: absolute;
    content: "";
    left: 25%;
    border: 35px solid transparent;
    height: 0;
    width: 0;
  }

  .dashboard-group-title-box.dashboard-group-top-arrow {
    padding-top: 40px;

  }

  .dashboard-group-top-arrow:before {
    top: 0;
    border-top-color: white;
    z-index: 25;
  }

  .dashboard-group-bottom-arrow:after {
    top: 100%;
    border-top-color: $wheatfield;
    z-index: 30;
  }

  .dashboard-group-active {
    .dashboard-group-bottom-arrow:after {
      border-top-color: $kakhi;
    }
  }

  .dashboard-art-row {
    display: flex;
    flex-direction: row;
    max-width: 600px;
  }


  .dashboard-art-position {
   min-width: 150px;
  }

  .dashboard-art-status {
    min-width: 100px;
  }

  .dashboard-art-location {
    min-width: 125px;
    margin-left: 5px;
  }
}
