
.grid-table {
  display: grid;
  grid-template-columns: 120px 5fr;
}

.grid-table > :not(.grid-table-label) {
  padding: 5px;
}

.grid-table > .grid-table-label {
  padding-top: 5px;
  padding-bottom: 5px;
}

.grid-table-label {
  font-weight: 600;
}
