
.mail-type-choice {
  padding: 0.5vh 0.5vw;
  border: 1px solid #9f9f9f;
  text-align: center;
  flex: 1;
  background-color: #e3e3e3;
  color: black;

  &:hover {
    background-color: #8cfb8c;
  }
}

.mail-type-selected {
  border-color: #28a745 !important;
  background-color: #81da81 !important;
}

.message-hover:hover {
  background-color: #e9ecef;
}

.message-opened {
  background-color: #f8fdff !important;
}


.message-photo-container {
  display: flex;
  justify-content: center;
  align-self: start;
  padding-top: 0.4vh;
  width: 70px;
  min-width: 70px;
  height: auto;
}

.message-photo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 75px;

  i {
    display: block;
    max-width: 55px;
  }
}

.mail-reply-form {
  margin-left: 70px;
}

.mail-preview-iframe {
  width: 100%;
  min-height: 200px;
  overflow-y: scroll;
  border: 1px solid #0a3954;
  padding: 2px;
}
