.masonry-container {
  column-gap: 1em;
}

.masonry-item {
  display: inline-block;
  width: 100%;
}

.masonry-hover {
  > div:hover, > a:hover {
    background-color: #d8fbd8;
  }
}

.masonry-item-header {
  font-size: 1.1em;
  font-weight: 600;
  margin: -7px -7px 7px -7px;
  padding: 7px 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #dddddd;
}

.masonry-small, .masonry-small .masonry-item-header {
  font-size: 0.875rem;
}

.masonry-item {
  padding: 0.5vh 0.25vw;
  margin: 0 0 5px;
}

.masonry-border {
  border: 1px solid #c0c0c0;
}


/* Masonry on medium-sized screens */
@include media-breakpoint-up(xl) {
  .masonry-container {
    column-count: 4;
  }
}

/* Masonry on small screens */
@include media-breakpoint-down(lg) {
  .masonry-container {
    column-count: 1 !important;
  }
}

.masonry-col-1 {
  column-count: 1;
}

.masonry-col-2 {
  column-count: 2;
}

.masonry-col-4 {
  column-count: 4;
}

.masonry-col-5 {
  column-count: 5;
}

.masonry-col-6 {
  column-count: 6;
}

