.masonry-container {
  column-gap: 1em;
}

.masonry-item {
  display: inline-block;
  width: 100%;
}

.masonry-border .masonry-item {
  border: 1px solid #c0c0c0;
  padding: 7px;
  margin: 0 0 5px;
}


/* Masonry on medium-sized screens */
@include media-breakpoint-up(lg) {
  .masonry-container {
    column-count: 3;
  }
}

/* Masonry on small screens */
@include media-breakpoint-down(lg) {
  .masonry-container {
    column-count: 1 !important;
  }
}

.masonry-col-2 {
  column-count: 2;
}

.masonry-col-4 {
  column-count: 4;
}

.masonry-col-5 {
  column-count: 5;
}

.masonry-col-6 {
  column-count: 6;
}
