html.modal-open, body.modal-open {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.modal-header {
  background-color: #f0f0f0;
}

.modal-footer-align-start {
  justify-content: inherit !important;
}
