.notice-danger {
  background-color: #fcd5d9f0;
}

.notice-success {
  background-color: #d6ead2f0;
}

.notice-secondary {
  background-color: #e0e0e0f0;
}

.notice {
  display: grid;
  padding: 0.5rem;
}

.notice-icon {
  grid-area: notice-icon;
  text-align: center;
  background-color: #ffffff;
  border-radius: 6px;
}

.notice-title {
  grid-area: notice-title;
  font-weight: 700;
  align-self: center;
}

.notice-body {
  grid-area: notice-body;
  align-self: center;
}

@include media-breakpoint-up(xl) {
  .notice {
    grid-template-columns: min(10vw, 50px) auto;
    grid-template-areas:
    "notice-icon notice-title"
    "notice-icon notice-body";
    margin-bottom: 1vh;
  }

  .notice-icon {
    align-self: center;
    font-size: 1.5rem;
    padding: 0.5rem 0.75rem;
  }

  .notice-title {
    font-size: 1.1rem;
    margin-left: 1vw;
  }
  .notice-body {
    margin-left: 1vw;
  }
}

@include media-breakpoint-down(xl) {
  .notice {
    grid-template-columns: 50px auto;
    grid-template-areas:
    "notice-icon notice-title"
    "notice-body notice-body";
    margin-bottom: 2vh;
  }

  .notice-title {
    font-size: 1.1rem;
    margin-left: 2vw;
  }

  .notice-icon {
    padding: 0.25rem 0.125rem;
    font-size: 1.1rem;
  }

  .notice-body {
    margin-top: 1vw;
    margin-left: 1vw;
  }
 }
