.notice-danger {
  background-color: #fcd5d9f0;
}

.notice-success {
  background-color: #d6ead2f0;
}

.notice-secondary {
  background-color: #e0e0e0f0;
}

.notice-warning {
  background-color: rgba(255, 228, 198, 0.94);
}

.notice {
  display: grid;
  padding: 0.5rem;
  margin-bottom: 1vh;
  grid-template-columns: 50px auto;
  grid-template-areas:
    "notice-icon notice-title"
    "notice-body notice-body";
}

.notice-icon {
  grid-area: notice-icon;
  padding: 0.125rem 0.25rem;
  font-size: 1.1rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 6px;
  align-self: center;
}

.notice-title {
  grid-area: notice-title;
  font-weight: 600;
  align-self: center;
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.notice-body {
  grid-area: notice-body;
  align-self: center;
  margin-top: 0.5vw;
  margin-left: 0.5vw;
}
