.notice-box {
  margin-bottom: 5px;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
}


.notice-header {
  font-size: $h3-font-size;
  font-weight: 500;
  margin-bottom: 5px;
}

.notice-success {
  border-color: #28a745;
  background-color: #c3e6cb;
}

.notice-warning {
  border-color: #d2b48c;
  background-color: #ffff99;
}

.notice-danger {
  border-color: #721c24;
  background-color: #fff1f2;

  .notice-header {
    color: #9c0010;
  }
}

.notice-body {
  margin-bottom: 5px;
}

