/*
 * Stylesheet for PNV & Auditor Onboard Checklists
 */


.onboard-group {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.onboard-auditor-tasks {
  padding: 10px 10px 10px 0;
}

.onboard-title-box {
  background-color: $wheatfield;
}

.onboard-title-box.onboard-group-active {
  background-color: $kakhi;
}

.onboard-tasks {
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
}

.onboard-task-row  {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.onboard-icon {
  width: 45px;
  margin-left: 10px;
}

.onboard-text {
  width: calc(100% - 45px);
  margin: 0 10px;
}

/*
 * Mobile screens - transform the group title text from a column
 * to a row.
 *
 * NOTE: Be sure the max-width breakpoint AND dashboard-pnv component are
 * in sync with another.
 */

@media only screen and (max-width: 719px) {
  .onboard-group {
    flex-direction: column;
  }

  .onboard-title-box {
    padding: 5px 15px;
  }

  .onboard-title-text {
    padding-top: 5px;
  }

  .onboard-icon {
    font-size: 0.85rem !important;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 720px) {
  .onboard-title-box {
    padding: 5px;
    text-align: center;
    width: 170px;
    position: relative;
  }

  .onboard-tasks {
    width: calc(100% - 170px);
  }

  .onboard-title-text {
    padding-top: 35px;
    line-height: 40px;
  }

  .onboard-title-bottom-arrow:after,
  .onboard-title-top-arrow:before {
    position: absolute;
    content: "";
    left: 33%;
    border: 30px solid transparent;
    height: 0;
    width: 0;
  }

  .onboard-title-top-arrow:before {
    top: 0;
    border-top-color: white;
    z-index: 25;
  }

  .onboard-title-bottom-arrow:after {
    top: 100%;
    border-top-color: $wheatfield;
    z-index: 30;
  }

  .onboard-group-active.onboard-title-bottom-arrow:after {
    border-top-color: $kakhi;
  }
}
