@import "cropper";

.photo-mini {
  background: #fcfcfc;
  border: 1px solid #999;
  border-radius: $border-radius-lg;
  text-align: center;

  width: 60px;
  img {
    display: block;
    margin: 0 auto;
    max-width: 55px;
  }
}

.photo-medium {
  background: #fcfcfc;
  border: 1px solid #999;
  border-radius: $border-radius-lg;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  width: 100px;
  img {
    padding: 2px;
    display: block;
    margin: 0 auto;
    max-width: 95px;
  }
}


.photo-large {
  background: #fcfcfc;
  border: 1px solid #999;
  border-radius: $border-radius-lg;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  width: 250px;
  img {
    padding: 4px;
    display: block;
    margin: 0 auto;
    max-width: 240px;
  }
}

.mugshot {
  background: #fcfcfc;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: $border-radius-lg;
  text-align: center;
  margin-bottom: 10px;
  width: 170px;
  max-height: 270px;
  min-height: 190px;

  img {
    display: block;
    width: 140px;
    margin: 0 auto 2px auto;

  }
}

.mugshot-icon {
  img {
    display: block;
    max-width: 75px;
    margin: 0 auto;
  }
}

#photo-edit-container {
  background-color: #ececec;
  max-width: 350px;
  max-height: 450px;

  margin: 0 auto;

  img {
    display: block;
    width: 350px;
    height: 450px;
  }
}

.cropper-view-box {
  //outline-width: 0 !important;
}


.cropper-container {
  position: relative;
}

.cropper-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-image: url("images/headshot-template.png");
  background-size: auto 100%;
  pointer-events: none;
  opacity: 0.5;
}

#photo-review {
  padding: 5px;

  img {
    margin: 0 auto;
    max-width: 80%;
  }
}

.photo-icon {
  max-width: 50px;
}

.photo-vc-review {
  margin: 0 auto;
  width: 250px;
}

/*
 * Camera CSS
 */

#camera-container {
  position: relative;
  //max-width: 350px;

  video {
    object-fit: cover;
    display: block;
    margin: 0 auto;
    // Have the video be a mirror image
    transform: scaleX(-1);
  }
}

#camera-container::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-image: url("images/headshot-template.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  opacity: 0.5;
  pointer-events: none;
}

.photo-reject-preview-box {
  width: 100%;
  min-height: 200px;
  overflow-y: scroll;
}
