.schedule-table {
  margin-bottom: 10px;
  font-size: 0.95em;
  max-width: 1200px;
}


.schedule-row:nth-child(odd) {
  background-color: $table-striped-bg;
}

.schedule-header {
  color: $table-head-color;
  background-color: $table-head-bg !important;
  border-color: $table-border-color;
  font-weight: bold;
}

.schedule-overlapping {
  background-color: #fbd3d3 !important;
}

.schedule-row {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ddd;
  padding: 0 5px 10px 5px;
  width: 100%;
  align-items: center;

  > div {
    display: inline-block;
    margin-top: 5px;
  }
}

.schedule-itinerary .schedule-row {
  align-items: start;
}

.schedule-row:hover {
  background-color: $table-hover-bg;
}

.schedule-total {
  font-size: 0.9rem;
}

@media print {
  .schedule-table {
    font-size: 1rem;
  }
}

@media print, (min-width: map-get($grid-breakpoints, "lg")) {
  .schedule-row > div {
    padding-right: 5px;
  }
  .schedule-icon {
    width: 20px;
    text-align: center;
  }
  .schedule-time {
    width: 26%;
  }

  .schedule-duration {
    width: 8%;
    text-align: right;
  }

  .schedule-credits {
    width: 7%;
    text-align: right;
  }


  .schedule-signup-description {
    width: 24%;
    margin-left: 5px;
  }

  .schedule-table-description {
    width: 32%;
    margin-left: 5px;
  }

  @media print {
    .schedule-table-description {
      width: 50%;
    }
  }

  .schedule-signups {
    width: 10%;
  }

  .schedule-total {
    width: 83%;
  }
  .schedule-sm-label {
    display: none;
  }

  .schedule-actions {
    margin-left: 10px;
    align-self: center;
  }
}

@media not print {
  .schedule-signed-up {
    background-color: #fcf8e3 !important;
  }

  @media (max-width: map-get($grid-breakpoints, "lg")) {
    .schedule-table {
      font-size: 1rem;
    }

    .schedule-header {
      display: none !important;
    }

    .schedule-icon {
      order: 2;
     }

    .schedule-time {
      order: 1;
      width: 90%;
    }

    .schedule-duration {
      order: 3;
      width: 50%;
    }

    .schedule-credits {
      order: 4;
      width: 50%;
      text-align: right;
    }

    .schedule-description {
      order: 5;
      width: 100%;
    }

    .schedule-signups {
      order: 6;
      width: 100%;
      margin-top: 15px !important;
      margin-bottom: 10px !important;
    }

    .schedule-total {
      order: 7;
      width: 100%;
    }

    .schedule-actions {
      order: 8;
      width: 100%;
    }

    .schedule-row button {
      display: inline-block;
      width: 49%;
    }

    .schedule-sm-label {
      display: inline-block;
      margin-right: 5px;
    }
  }
}
