.schedule-table {
  margin-bottom: 1vh;
  font-size: 0.95em;
  max-width: 1200px;
}


.schedule-row:nth-child(odd) {
  background-color: $table-striped-bg;
}

.schedule-header {
  color: $table-head-color;
  background-color: $table-head-bg !important;
  border-color: $table-border-color;
  font-weight: bold;
}

.schedule-sub-header {
  color: #664d03;
  background-color: #fff3cd;
  width: 100%;
  vertical-align: middle;
  padding-top: 0.5vh !important;
  padding-bottom: 1vh !important;
}

.schedule-overlapping {
  background-color: #fbd3d3 !important;
}

.schedule-row {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ddd;
  padding: 0 0.5vw 1vh 0.5vw;
  width: 100%;
  align-items: center;

  > div {
    display: inline-block;
    margin-top: 0.5vh;
    align-self: center;
  }
}

.schedule-signup-row {
  margin: 1vh 1vw;
  width: 100%;
}

.schedule-itinerary .schedule-row {
  align-items: start;
}

.schedule-row:hover {
  background-color: $table-hover-bg;
}

.schedule-total {
  font-size: 0.9rem;
}

.schedule-actions button:not(:last-child) {
    margin-right: 0.75vw;
}

@media print, (min-width: map-get($grid-breakpoints, "lg")) {
  .schedule-row > div {
    padding-right: 0.5vw;
  }

  .schedule-icon {
    width: 30px;
    text-align: center;
  }

  .schedule-time-description {
    width: 35%;
  }

  .schedule-duration {
    width: 8%;
    text-align: right;
  }

  .schedule-credits {
    width: 7%;
    text-align: right;
    margin-right: 5px;
  }

  .schedule-signups {
    width: 10%;
  }


  .schedule-sub-header-text {
    margin-left: 1.5vw;
    margin-right: 1vw;
  }

  .schedule-sm-label {
    display: none;
  }
}

@media print {
  .schedule-table {
    font-size: 1rem !important;
  }

  .schedule-sub-header, .schedule-actions {
    display: none !important;
  }
}

@media not print {
  .schedule-signed-up {
    background-color: #fcf8e3 !important;
  }

  @media (max-width: map-get($grid-breakpoints, "lg")) {
    .schedule-table {
      font-size: 1rem;
      margin-left: -5px;
      margin-right: -5px;
    }

    .schedule-header {
      display: none !important;
    }

    .schedule-sub-header {
      padding-left: 1vw;
      padding-right: 1vw;
    }

    .schedule-time-description {
      order: 1;
      width: 90%;
    }

    .schedule-icon {
      order: 2;
    }

    .schedule-duration {
      order: 3;
      width: 50%;
    }

    .schedule-credits {
      order: 4;
      width: 48%;
      text-align: right;
      margin-right: 5px;
    }

    .schedule-signups {
      order: 6;
      width: 100%;
      margin-top: 2vh !important;
      margin-bottom: 1.5vh !important;
    }


    .schedule-actions {
      order: 7;
      width: 100%;
      display: flex;
      justify-content: space-between;
      button {
        display: inline-block;
      }
    }

    .schedule-row button {
      display: inline-block;
      width: 48%;
    }

    .schedule-sm-label {
      display: inline-block;
      margin-right: 0.5vw;
    }
  }
}
