/* Sidebar CSS */

.sidebar-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#sidebar-container {
  flex: 0 1 auto;
  flex-direction: column;
//  min-height: 100vh; -- main tag is now flex.
  padding: 0;
  font-size: 0.85rem;
  background-color: #000000;
}

/* Sidebar sizes when expanded and expanded */

.sidebar-expanded {
  width: 210px;
}

.sidebar-collapsed {
  width: 45px;
}

a.sidebar-link {
  display: block;
  padding: 10px;
  border-top: 1px solid #101010;
  height: 45px;
}

// The sidebar link includes an icon, and unfortunately the icon is not underlined when the cursor hovers.
// This results is the space between the icon and text being underlined as well, and looks bad.
// The solution is just to underline the actual text.
.sidebar-link:hover {
  text-decoration: none;
}

.sidebar-link-text:hover {
  text-decoration: underline;
}

.sidebar-group-title {
  overflow: hidden;
  text-overflow: ellipsis !important;
  font-size: 0.85rem;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar-separator {
  height: 20px;
}

.sidebar-active {
  color: #ffc107 !important;
  border-right: 5px solid #ffc107 !important;
}

.sidebar-theme-person {
  .sidebar-link {
    color: #fcfcfc;
    background-color: #00051d;
    border-top: 1px solid #495057;
  }

  .sidebar-group-title {
    background-color: #0a3954;
    color: #ffffff;
  }
}

.sidebar-theme-hq {
  .sidebar-link {
    color: #ffffff;
    background-color: #524737;
  }

  .sidebar-group-title {
    color: #ffffff;
    background-color: #3d2503;
  }
}

.sidebar-theme-default {
  .sidebar-link {
    background-color: #3e4348;
    color: #ffffff;
  }

  .sidebar-group-title {
    color: #f0f0f0;
  }
}

.sidebar-ranger-logo {
  text-align: center;
  margin: 40px auto 0;

  height: 200px;
  width: 200px;

  img {
    height: 180px;
    width: 180px;
  }
}

.sidebar-small-screen-container {
  width: 100%;

  button, a, .btn-group {
    width: 100%;
  }
}
