/* Sidebar CSS */

.sidebar-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#sidebar-container {
  flex: 0 1 auto;
  position: relative;
  min-height: 100vh;
  padding: 0;
  font-size: 0.85rem;

  a.list-group-item {
    background-color: #333;
    padding: 0.70rem;
    border-top: 1px solid #181818;
  }
}

.sidebar-theme-person {
  background-color: #00051d;

  .sidebar-link {
    background-color: #1a2c46 !important;
  }

  .sidebar-active {
    background-color: #507da9 !important;
  }

  .sidebar-separator {
    background-color: #000 !important;
  }

  .sidebar-group-title {
    background-color: #00051d;
    color: #ececec;
  }
}

.sidebar-theme-hq {
  background-color: #000;

  .sidebar-link {
    background-color: #524737 !important;
  }

  .sidebar-active {
    //background-color: #a79170 !important;
    background-color: #8f7c60 !important;
    color: #ffffff !important;
  }

  .sidebar-separator {
    background-color: #000 !important;
  }

  .sidebar-group-title {
    background-color: #00051d;
    color: #ececec;
  }
}

.sidebar-theme-default {
  background-color: #333;

  .sidebar-link {
    background-color: #3e4348 !important;
  }

  .sidebar-active {
    color: #ffffff !important;
    background-color: #425f7c !important;
  }

  .sidebar-group-title {
    color: #ececec;
  }
}


/* Sidebar sizes when expanded and expanded */

.sidebar-expanded {
  width: 210px;
}

.sidebar-offset-expanded {
  padding-left: 210px;
}

.sidebar-offset-collapsed {
  padding-left: 60px;
}

.sidebar-collapsed {
  width: 45px;
}

/* Menu item*/

#sidebar-container .list-group a {
  height: 45px;
  color: white;
}

/* Submenu item*/

#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}

/*
 .sidebar-submenu {

  font-size: 0.9rem;
}
*/


.sidebar-group-title {
  overflow: hidden;
  text-overflow: ellipsis !important;
  color: $text-muted;
  padding-left: 1rem;
  font-size: 0.85rem;
}

/* Separators */

.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}

.sidebar-separator {
  background-color: #333;
  height: 25px;
}

/* Closed submenu icon */

#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/* Opened submenu icon */

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}


.sidebar-ranger-logo {
  text-align: center;
  margin: 40px auto 0;

  height: 200px;
  width: 200px;

  img {
    height: 180px;
    width: 180px;
  }
}

