/*
 * Default to thead-light setting for thead
 */


.table {
  thead th {
    color: $table-head-color;
    background-color: $table-head-bg;
    border-color: $table-border-color;
  }

  // override highlight border color between thead, tbody and tfoot.
  > :not(:first-child) {
    border-top: 1px solid #313838 !important;
  }
  font-variant-numeric: tabular-nums;
}


.table-fixed {
  table-layout: fixed;
}

/*
 * Add a box around a table
 */

table.table-box {
  border: 1px solid #bebebe;

  caption {
    border: 1px solid #bebebe;
    border-bottom: none;
  }
}


caption {
  caption-side: top;
  color: #000;
  background-color: #c8d2dc;
  font-size: 1rem;
  padding: 5px 10px;
}

.table-sm {
  caption {
    padding: 5px;
  }
}

/*
 * Remove border on a row
 */

.no-border td {
  border: none !important;
}


.table-width-auto {
  width: auto !important;
}

.tr-no-border td {
  border: 0 !important;
}

.tr-stripped {
  background-color: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

@media not print {
  .table-sticky {
    thead tr:nth-child(1) th {
      background: $table-head-bg;
      position: sticky;
      top: 0;
      z-index: 10;
    }
  }
}

