/*
 * Responsive timesheet table layout using divs.
 *
 * Shared between timesheet corrections and missing timesheet requests
 */

.timesheet-table {
  margin-bottom: 10px;
  max-width: 950px;
}

.timesheet-header {
  color: $table-head-color;
  background-color: $table-head-bg;
  border-color: $table-border-color;
  font-weight: bold;
  padding: 0.125rem 0.25rem;
}

.timesheet-overlapping {
  background-color: #fbd3d3;
}

.timesheet-entry {
  border-top: 1px solid #ddd;
  padding: 0.125rem 0.25rem;
  margin-bottom: 1vh;
}

.timesheet-entry:nth-child(odd) {
  background-color: $table-striped-bg;
}

.timesheet-entry:hover {
  background-color: $table-hover-bg;
}

.timesheet-row {
  display: flex;
  flex-direction: row;
}

.timesheet-row > div {
  padding: 0.125rem 0.25rem;
}

.timesheet-row-header, .timesheet-actions {
  width: 100%;
  margin: -0.125rem -0.25rem;
  padding: 0.125rem 0.25rem;
}

.timesheet-row-header {
  margin-bottom: 0.5rem;
}

.timesheet-actions {
  margin-top: 1vh;
  button {
    display: inline-block;
  }

  button:not(:last-child) {
    margin-right: 0.5vw;
  }
}

@media print {
  .timesheet-table {
    font-size: 1em;
  }
}


@media print, (min-width: map-get($grid-breakpoints, "xl")) {
  .timesheet-row {
    flex-wrap: nowrap;
  }

  .timesheet-row-header {
    font-size: 1em;
  }

  .timesheet-row > div {
    padding: 0.125rem 0.5rem;
  }

  .timesheet-time {
    width: 30%;
  }

  .timesheet-duration {
    width: 15%;
    text-align: right;
  }

  .timesheet-credits {
    width: 15%;
    text-align: right;
  }

  .timesheet-position {
    width: 25%;
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, "xl")) {
  .timesheet-row {
    flex-wrap: wrap;
    flex-shrink: 1;
  }

  .timesheet-row > div {
    padding: 0.2rem 0;
  }

  .timesheet-row button {
    //    font-size: 0.9em;
    display: inline-block;
    width: 49% !important;
  }

  .timesheet-header {
    display: none !important;
  }

  .timesheet-time {
    order: 1;
    width: 100%;
  }

  .timesheet-duration {
    order: 2;
    width: 100%;
  }

  .timesheet-position {
    order: 3;
    width: 100%;
  }

  .timesheet-credits {
    order: 4;
    width: 100%;
  }

  .timesheet-description {
    order: 5;
    width: 100%;
  }

  .timesheet-actions {
    order: 6;
    width: 100%;
  }
}
