/*
 * Responsive timesheet table layout using divs.
 *
 * Shared between timesheet corrections and missing timesheet requests
 */

.timesheet-table {
  margin-top: 1vh;
  margin-bottom: 10px;
  max-width: 950px;
}

.timesheet-header {
  color: $table-head-color;
  background-color: $table-head-bg;
  border-color: $table-border-color;
  font-weight: bold;
  padding: 0.125rem 0.25rem;
 }

.timesheet-overlapping {
  background-color: #fbd3d3;
}

.timesheet-entry {
  padding: 0.125rem 0.25rem;
}

.timesheet-entry-container {
  padding: 2px;
  border: #c0dcf6 1px solid;
  margin-bottom: 1vh;
}
.timesheet-entry-container:nth-child(odd) {
  background-color: $table-striped-bg;
}

.timesheet-entry:hover {
  background-color: $table-hover-bg;
}

.timesheet-row {
  display: flex;
  flex-direction: row;
}

.timesheet-row {
  padding: 0.125rem 0.25rem;
}

.timesheet-actions {
  width: 100%;
}

.timesheet-entry-header {
  width: auto;
  padding: 0.325rem 0.30rem 0.425rem 0.75rem;
  margin: -0.1rem -0.15rem 0.5rem -0.15rem;
}

.timesheet-actions {
  margin-top: 1vh;
  margin-bottom: 0.5vh;
}

@media print {
  .timesheet-table {
    font-size: 1em;
  }
}


@media print, (min-width: map-get($grid-breakpoints, "xl")) {
  .timesheet-row {
    flex-wrap: nowrap;
  }

  .timesheet-entry-header {
    font-size: 1em;
  }

  .timesheet-row > div {
    padding: 0.125rem 0.5rem;
  }

  .timesheet-time {
    width: 30%;
  }

  .timesheet-header .timesheet-time {
    margin-left: 5px;
  }

  .timesheet-duration {
    width: 15%;
    text-align: right;
  }

  .timesheet-credits {
    width: 15%;
    text-align: right;
  }

  .timesheet-position {
    width: 25%;
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, "xl")) {
  .timesheet-row {
    flex-wrap: wrap;
    flex-shrink: 1;
  }

  .timesheet-row > div {
    padding: 0.2rem 0;
  }

  .timesheet-header {
    display: none !important;
  }

  .timesheet-time {
    order: 1;
    width: 100%;
  }

  .timesheet-duration {
    order: 2;
    width: 100%;
  }

  .timesheet-position {
    order: 3;
    width: 100%;
  }

  .timesheet-credits {
    order: 4;
    width: 100%;
  }

  .timesheet-description {
    order: 5;
    width: 100%;
  }

  .timesheet-actions {
    order: 6;
    width: 100%;
  }
}
