.signup-page table {
  width: 100%;
  margin-top: 10px;

  td {
    border: 1px solid #aaa;
    height: 40px;
    padding: 5px;
    vertical-align: top;
    font-size: 14px;
  }

  .signup-label {
    font-size: 10px;
  }

  .signup-separator td {
    height: 8px;
    border: none;
  }
}


.trainers-report  {
  width: 100%;
  margin-top: 10px;

  caption {
    background-color: #fff;
    color: #000;
    padding: 0 5px;
    font-size: 1.2em;
  }
  th {
    padding: 5px;
  }
  td {
    border: 1px solid #aaa;
    height: 17px;
    padding: 5px;
    vertical-align: top;
    font-size: 12px;
  }

  .student-group-separator td {
    height: 1.6em;
    vertical-align: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    border: none;
  }
}
