.min-width-300 {
  min-width: 300px;
}

.min-width-500 {
  min-width: 500px;
  overflow: auto;
}

.min-width-1000 {
  min-width: 1000px;
}
.max-width-500 {
  max-width: 500px;
}

.max-width-700 {
  max-width: 700px;
}

.max-width-800 {
  max-width: 800px;
}

.max-width-900 {
  max-width: 900px;
}

.max-width-1000 {
  max-width: 1000px;
}

.max-width-1200 {
  max-width: 1000px;
}

.max-width-1300 {
  max-width: 1300px;
}

.callsign-width {
  width: 20ch;
}
// Profile/person card widths
.card-10rem {
  width: 10rem;
}

.card-12rem {
  width: 12rem;
}
