<h1>Survey Preview</h1>
<p>
  <LinkTo @route="admin.survey.manage" @model={{this.survey.id}}>Back to Survey Management</LinkTo>
</p>

<SurveyQuestionnaire @survey={{this.survey}} @person={{this.session.user}} @trainers={{this.trainers}} />
