<p>
  List the English names of the languages you are comfortable speaking with the fluency level in parentheses,
  each separated by a comma.
</p>
<p>
  Example: <b><i>"japanese (basic), spanish (fluent)"</i></b>
</p>
<p>
  Keep the list simple:<br>
  GOOD: "french (fluent), italian (written only), spanish (basic)"<br>
  BAD: "French - I taught in Paris and can only write in Italian. Took 1 year of high school spanish"<br>
</p>

<FormRow>
  <@f.text @name="languages"
          @label="Languages Spoken"
          @size={{80}}/>
</FormRow>
