<p>
  Do you have a difficult to pronounce callsign? Enter the phonetic spelling below.
</p>
<p>
  Example: <b><i>if your callsign is 3pio enter as "Three-Pee-Oh", for Jschool enter as "JAY-school",
  etc</i></b>
</p>
<FormRow>
  <@f.text @name="callsign_pronounce"
          @label="Callsign Pronunciation"
          @size={{20}}
          @maxlength={{20}}/>
</FormRow>
