<p>
  The email address is used to log into the Clubhouse and IMS. Ranger teams and leads may also use it to send you
  important messages about scheduling, operations, and timesheet corrections.
</p>
<FormRow>
  <@f.text @name="email" @label="Email"
  @inputmode="email"
  @size={{30}}
  @maxlength={{50}}
  @noSpaces={{true}}
  />
  <@f.text @name="home_phone"
  @label="Primary Phone"
  @inputmode="tel"
  @maxlength={{25}}
  />
  <@f.text @name="alt_phone"
  @label="Alternative Phone"
  @inputmode="tel"
  @maxlength={{25}}
  />
</FormRow>
