<FormRow>
  <@f.select @name="tshirt_swag_id"
  @label="T-Shirt Size"
  @options={{@tshirtOptions}}
  />
</FormRow>
<div class="my-2">
  In case the first t-shirt choice is not available, please select a t-shirt backup choice:
</div>
<FormRow class="mb-3">
  <@f.select @name="tshirt_secondary_swag_id"
  @label="Backup T-Shirt Size"
  @options={{@tshirtOptions}}
  />
</FormRow>
<FormRow>
  <@f.select @name="long_sleeve_swag_ig"
  @label="Long Sleeve Shirt Size"
  @options={{@longSleeveOptions}}
  />
</FormRow>
