<UiAlert @type="warning" @icon="hand-point-right">
  While you are currently unable to submit a {{@name}}, you can take steps to become eligible.
</UiAlert>
<h6 class="fw-bold">Become eligible by signing up for a qualified shift</h6>
<p>
  To submit a {{@name}}, you must first sign up for one of the qualified positions listed below:
 </p>
<ul>
  {{#each @positions as |position|}}
    <li>{{position.title}}</li>
  {{/each}}
</ul>
<p>
  Visit
  <LinkTo @route="me.schedule">Me &gt; Schedule / Sign Up</LinkTo>
  to sign up for a qualifying shift. Once you do so, return to this page for instructions on how to submit a request.
</p>
