<p>
  <b class="text-danger">You are NOT on a path to becoming a Black Rock Ranger.</b>
</p>
<p>
  Visit
  <a href="https://rangers.burningman.org/becoming-a-ranger/" target="_blank" rel="noreferrer noopener" >
    Becoming a Ranger
  </a>
  to read about the Ranger volunteer requirements and qualifications.
</p>
<p>
  You can sign up to participate in a ranger training to get a better understanding of what Black Rock
  Rangers do.
</p>
<p>
  Your Clubhouse handle is your last name, first initial, and the year. Auditors are not allowed to
  choose their own handles. Black Rock Ranger handles are only assigned as part of the ranger onboarding
  process.
</p>
