<div class="d-flex d-flex-row border border-{{@type}} mb-3 bg-light-gray p-2">
  {{#if @icon}}
    <div class="m-2">
      {{fa-icon @icon size="2x" type=@iconType}}
    </div>
  {{/if}}
  <div>
    {{#if @title}}
      <h4>{{@title}}</h4>
    {{/if}}
    <div class="box-text">
      {{yield}}
    </div>
  </div>
</div>
