<div class="notice-box {{this.boxColor}}">
  <div class="notice-icon">
      {{fa-icon this.icon type=@iconType color=this.type}}
  </div>
  <div class="notice-header">{{@title}}</div>
  <div class="notice-body">{{yield}}</div>
</div>
