<h3>You are no longer on a path to becoming a Ranger</h3>
<p>
  You seem to have fallen out of our volunteer application process and are no longer on a path to becoming a Ranger.
</p>
<p>
  NOTE: Ranger applications <b class="text-danger">do not roll over</b> to the next year. A new application must
  be submitted.
</p>
<p>
  If you have re-applied to be a Ranger for the upcoming {{this.year}} event, you will receive an email notifying
  you about the status of your application by mid-to-late April. The notification will not be posted here. If you
  haven't received any emails by then, please don't hesitate to reach out to the Volunteer Coordinators at <VcEmail/>.
</p>
<p>
  Please see
  <ExtLink @href="https://rangers.burningman.org/ranger-application-process/">
    our web page
  </ExtLink>
  for more information on our volunteer application process.
</p>

<p>
  If you believe you are receiving this message in error, please email
  <VcEmail/>
  and we'll get things sorted out for you.
</p>

<p>
  Thanks,<br>
  The Black Rock Rangers
</p>
