<h3>You are on the Ranger application waitlist</h3>
<p>
  We will notify you if we are able to remove you from the waitlist.
</p>
<p>
  <b>Questions or wish to drop your application?</b> {{vc-email}}
</p>
<p>
  Due to a limited number of spaces for new Rangers, we are only able to
  reserve 158 Alpha shifts slots. As applicants drop from our process, or
  miss key deadlines, we will reassign their reserved slots to waitlisted
  applicants, with a preference for those who have uploaded a BMID photo,
  complete the online AND in person trainings, and are in good standing
  with the department. This means waitlisted applicants who pursue the
  process in good faith and respect deadlines will have a slight advantage
  over folks who do not.
</p>
