{{#if @motds}}
  <Me::Motd @motds={{@motds}} />
  <div class="fs-5 fw-semibold mt-n2 mb-1">
    All current announcements can be view again at
    <LinkTo @route="me.announcements">Me &gt; Announcements</LinkTo>
    .
  </div>
{{/if}}
