<h3>You are no longer on a path to becoming a Ranger</h3>
<p>
  Becoming a Black Rock Ranger can be a challenging path. Unfortunately, you are no longer on that path. We
  encourage you to keep pushing forward and pursuing your passions. Perhaps there are other Burning Man volunteer
  opportunities you can explore that will lead you to similar experiences and fulfillment.
</p>
<p>
  Receiving feedback from the Trainers and Mentors can be tough, but please know that they have your best interests at
  heart. They want to see you succeed just as much as we do.
</p>
<p>
  If you receive feedback from the Mentors that suggests you should try again in the future, please don't feel discouraged.
  We understand that it can be disheartening to receive this news after putting so much effort in.
</p>
<p>
  Please note, <b class="text-danger">Ranger applications do not roll over to the next year.</b>
  We encourage you to keep trying and to submit a new application when you're ready. We believe in you!
</p>
<p>
  Please see
  <ExtLink @href="https://rangers.burningman.org/ranger-application-process/">
    our web page
  </ExtLink>
  to review our volunteer application process.
</p>

<p>
  If you believe you are receiving this message in error, please email
  <VcEmail/>
  and we'll get things sorted out for you.
</p>

<p>
  The Black Rock Rangers
</p>
