<div class="dashboard-group dashboard-links-things">
  <div class="dashboard-group-title-box">
    <div class="dashboard-group-title-text">Links &amp; Things</div>
  </div>
  <div class="dashboard-steps">
    <div class="dashboard-step-row">
      <div class="dashboard-step">
        <div class="dashboard-step-description">
          {{{@milestones.links}}}
         </div>
      </div>
    </div>
  </div>
</div>

