<h3>You are no longer on a path to becoming a Ranger</h3>
<p>
  You seem to have fallen out of our volunteer application process and are no longer on a path to becoming a Ranger.
</p>

<p>
  If you believe you are receiving this message in error,
  please email {{vc-email}} and we'll get things sorted out for you.
</p>

<p>
  Please see <a href="https://rangers.burningman.org/ranger-application-process/" rel="noopener noreferrer">our web page</a>
  for more information on our volunteer application process.
</p>

<p>
  Thanks,<br>
  The Black Rock Rangers
</p>
