<span class="text-danger">
  Even if you are marked as Event Radio Eligible due to previous hours worked, we cannot guarantee you will receive
  an Event Radio on playa. Radios are a finite resource and there may not be a sufficient quantity to
  distribute one to every Ranger who is eligible.
</span>
