<span class="text-danger">
 Even if you are marked as Event Radio Eligible due to previous hours worked, we cannot guarantee that you will
 receive an Event Radio on site. Radios are a finite resource, and there may not be enough to distribute to every
 eligible Ranger.
</span>
