<table class="table table-sm table-hover">
  <thead>
  <tr>
    <th class="w-55">{{@items}}</th>
    <th class="w-15 text-end">Requires</th>
    <th class="w-15 text-end">Worked</th>
    <th class="w-15 text-end">Expected Total</th>
  </tr>
  </thead>
  <tbody>
    {{yield}}
  </tbody>
</table>
