<span class="intake-rank-chip intake-rank-chip-rank-{{@rank}}">
  {{#if @icon}}
    <span class="intake-rank-chip-value">
      {{fa-icon @icon}}
    </span>
    <span class="intake-rank-chip-sep">&middot;</span>
  {{/if}}
  <span class="intake-rank-chip-label">{{@label}}</span>
</span>

