<div class="mb-2">
  {{#if @fullDisclosure}}
    Your legal first and last name will be used for ticketing, mailings, Motor Vehicle Records (MVR) requests,
    and anything else requiring a government id.
  {{else}}
    Your legal first and last name will be used for any items requiring a government id.
  {{/if}}
</div>
