<span class="badge bg-secondary">{{this.title}}</span> {{this.description}}
{{#if this.isBanked}}
  <p>
    <b>Note: You have chosen to bank your All-You-Can-Eat pass this event.</b>
  </p>
{{/if}}
{{#if this.isMealPass}}
  <p class="my-2">Helpful date info: {{config "MealDates"}}</p>
{{/if}}
