{{#each this.modal.dialogs as |dialog|}}
  {{#if dialog.isInline}}
    <dialog.component @dialog={{dialog}}
                      @onClose={{this.modal.closeAction}}
                      @onConfirm={{this.modal.confirmAction}}
                      @isInline={{true}}
    />
  {{/if}}
{{/each}}
<div id="ember-bootstrap-wormhole"></div>
<div id="modal-container"></div>
