<NavbarMenu @title="Actions">
  <NavbarMenuItem @route="login" @item="Login" />
  <NavbarMenuItem @route="reset-password" @item="Forgot Password" />
  <a href="https://rangers.burningman.org/becoming-a-ranger/" class="dropdown-item">Ranger Application</a>
  <NavbarMenuItem @route="register" @item="Auditor Registration" />
</NavbarMenu>
