<li class="nav-item dropdown {{if @isLarge "dropdown-large"}}">
  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">{{@title}}</a>
  <div class="dropdown-menu">
    <div class="dropdown-menu-container">
      {{yield}}
    </div>
  </div>
</li>