<@nav.dropdown class="{{if @isLarge "dropdown-large"}}" as |dd|>
<dd.toggle>{{@title}} <span class="sr-only">menu</span><span class="caret" aria-hidden="true"></span></dd.toggle>
<dd.menu as |menu|>
  <div class="dropdown-menu-container">
    {{yield menu}}
  </div>
</dd.menu>
</@nav.dropdown>

