{{#if this.hasNewVersion}}
  <div class="alert alert-secondary text-center p-1 m-0">
    <p>
      Hey! The Ranger Tech Ninjas have been busy hammering the bits and bytes.<br>
      A new version of the Clubhouse is available.<br>
      Click "Reload" to update to the latest version.
    </p>
    <UiButton @onClick={{this.reload}}>Reload</UiButton>
  </div>
{{/if}}