<p>
  Follow the steps below to get your Burner Profile and Clubhouse account linked:
  <ol class="mt-2">
    <li>
      Go to <a href="https://profiles.burningman.org">Burner Profiles</a> and
      log in there. (Don’t have a Burner Profile? No problem. Create one.)
    </li>

    <li>
      Write down your Burner Profile email address and Burner Profile username (if you know it).
      Your Burner Profile email address can be found on the 'My Profile' page.
    </li>
    <li>
      Email the Volunteer Coordinators at {{vc-email}} saying you need to link
      your Burner Profile to your Clubhouse account. <b>Include your
      Ranger callsign (required), Burner Profile email address (required), and Burner Profile username
      (if you know it) in the message.</b>
    </li>
  </ol>
  The Volunteer Coordinators may take a day or two to process your request. Please be patient.
</p>
<p class="text-danger">
  <b>You will not be allowed to sign up for shifts, and/or claim tickets/WAPs/etc until your Burner Profile is linked
    to your Clubhouse account.</b>
</p>
