<div class="d-print-none my-1">
  {{#if @backLabel}}
    <p><a href {{on-click @backAction}}>{{@backLabel}}</a></p>
  {{/if}}
  <div class="text-muted">
    Use the browser's print command to send this page to the printer. The navigation bar, footer, and this message will not appear on the
    page.
  </div>
</div>
