{{! template-lint-disable no-inline-styles}}
<div class="progress position-relative" style="height: 1.75em;">
  {{! template-lint-disable no-inline-styles  style-concatenation}}
  <div class="progress-bar text-black bg-{{@type}}" role="progressbar" style="width: {{@width}}%"></div>
  <span class="justify-content-center d-flex position-absolute w-100">{{@text}}</span>
</div>
