{{#each this.options as |opt idx|}}
  <label class="{{if idx "ms-3"}}">
    <input type="radio" checked={{opt.isSelected}} {{on "click" (fn this.changeEvent opt)}} />
    {{opt.label}}
  </label>
{{/each}}
