{{#if (and @person.isRanger @permission.recommend_burn_weekend_shift)}}
  <UiNotice @title="Burn Weekend Shift Recommendation" @icon="fire-burner" @type="secondary">
    <p>
      We strongly urge all Rangers to work at least one shift on Burn Weekend (Friday night through Sunday night) —
      including at least one Burn Perimeter shift. Burn Weekend is our busiest time and having solid staffing is
      critical.
    </p>
    This annoying text box will stick around until you sign up for a weekend shift.
  </UiNotice>
{{/if}}
