<div class="my-2">
  <b>Gift ticket rules.</b> Here's what you can and can't do:
</div>
<ul class="mb-2">
  <li class="text-danger"><b>Never sell it.</b> A gift ticket cannot be sold.</li>
  <li><b>You can give it away.</b> Pass it to another person if you like.</li>
  <li><b>Only for this event.</b> It is only for the upcoming event and can't be banked.</li>
  <li><b>Free mailing for 2026.</b> We'll mail this ticket free. Other ticket types don't qualify.</li>
</ul>
