<div class="my-2">
  The conditions on a gift ticket are:
</div>
<ul class="mb-2">
  <li class="text-danger">The gift ticket cannot be sold.</li>
  <li>The gift ticket may be given to another person.</li>
  <li>The gift ticket is only good for the upcoming event, and cannot be banked.</li>
</ul>
