<p>
  A Work Access Pass (WAP) is good <b class="text-danger">for YOU (the Ranger Applicant) ONLY and IS *NOT* AN EVENT
  TICKET</b>.
</p>
<p>
  The WAP does not extend to Significant Others or traveling companions.
</p>
<p>
  <b class="text-danger">All Ranger Applicants must provide their own event ticket.</b>
</p>
<p>
  Ranger Applicants who have signed up for or completed training and intend to walk an Alpha shift
  on playa are eligible for a WAP that allows them to enter the event on or after
  {{mdy-format @ticketingInfo.wap_alpha_default_date full=true}} at 00:01 (one minute after midnight).
</p>
<p>
  You will be turned away from the gate if you attempt to enter earlier than
  {{mdy-format @ticketingInfo.wap_alpha_default_date full=true}}. <b class="text-danger">NO EXCEPTIONS!</b>
</p>
<p>
  <b>Look for an email with your WAP from Burning Man Ticketing between late July and mid-August.</b>
</p>
