<p>
  {{singular-or-pluralize @ticketPackage.lsdTickets.length "Late Season Directed ticket" capitalize=true}}
  {{~#if @ticketPackage.lsdVPs~}}
    , and {{singular-or-pluralize @ticketPackage.lsdVPs.length "Late Season Directed Vehicle Pass"}},
  {{/if}}
  is available. LSD items are NOT claimed through the Clubhouse.
</p>
<b class="text-danger">
  All LSD tickets have to be paid for by {{full-datetime-format @ticketingInfo.lsd_paid_by}} (Pacific).
</b> Instructions on how to pay for the tickets will be sent later.
