<div class="card mb-4 max-width-600">
  <h3 class="card-header {{if @type (concat "text-" @type)}} bg-light-gray">
    {{fa-icon @icon fixed=true right=1}} {{@title}}
  </h3>
  <div class="card-body">
    {{yield}}
  </div>
</div>
