<UiSection>
  <:title>Position Summary (hours, credits)</:title>
  <:body>
    {{#if this.workedPositions}}
      <div class="masonry-container masonry-col-4 masonry-hover">
        {{#each this.workedPositions as |position|}}
          <div class="masonry-item">
            {{position.title}} ({{hour-minute-format position.duration}}, {{credits-format position.credits}})
          </div>
        {{/each}}
      </div>
    {{else}}
      No positions were worked.
    {{/if}}
  </:body>
</UiSection>