<div class="mb-2 border border-primary-subtle" ...attributes>
  <div class="fw-semibold p-2 border-bottom border-primary-subtle text-primary-emphasis bg-primary-subtle">
    {{yield to="title"}}
  </div>
  <div class="p-2">
    {{yield to="body"}}
  </div>
</div>
