<div class="notice notice-{{this.color}}">
  <div class="notice-icon">
    {{fa-icon this.icon size="2x" fixed=true color=this.color}}
  </div>
  <div class="notice-text">
    {{#if @title}}
      <div class="notice-title">{{@title}}</div>
    {{/if}}
    <div class="notice-body">
      {{yield}}
    </div>
  </div>
</div>