<h1 class="mb-4">Access Document &amp; Provision Reports</h1>
<div class="row max-width-1000">
  <div class="card mb-2 col-sm-12 col-xl-5 me-1">
    <div class="card-body">
      <h4 class="card-title">
        <LinkTo @route="vc.access-documents.provisions">Current Provisions</LinkTo>
      </h4>
      <div class="card-text">
        Show all current provision records.
      </div>
    </div>
  </div>

  <div class="card mb-2 col-sm-12 col-xl-5 me-1">
    <div class="card-body">
      <h4 class="card-title">
        <LinkTo @route="vc.access-documents.expiring">Expiring Tickets</LinkTo>
      </h4>
      <div class="card-text">
        Show all tickets which may expire this year.<br>
      </div>
    </div>
  </div>

  <div class="card mb-2 col-sm-12 col-xl-5 me-1">
    <div class="card-body">
      <h4 class="card-title">
        <LinkTo @route="vc.access-documents.statistics">Ticket & Provision Statistics</LinkTo>
      </h4>
      <div class="card-text">
        Report on ticketing &amp; provision statistics broken down by claimed, banked, qualified, etc.
      </div>
    </div>
  </div>

  <div class="card mb-2 col-sm-12 col-xl-5 me-1">
    <div class="card-body">
      <h4 class="card-title">
        <LinkTo @route="vc.access-documents.waps">Ranger WAPs Candidates</LinkTo>
      </h4>
      <div class="card-text">
        Report on Rangers who may need a WAP based on training and shift sign-ups.
      </div>
    </div>
  </div>

  <div class="card mb-2 col-sm-12 col-xl-5 me-1">
    <div class="card-body">
      <h4 class="card-title">
        <LinkTo @route="vc.access-documents.unclaimed-with-signups">Unclaimed Tickets w/Sign-Ups</LinkTo>
      </h4>
      <div class="card-text">
        Report on Rangers who have qualified tickets and have shift sign-ups, yet have not claimed their ticket.
      </div>
    </div>
  </div>

  <div class="card mb-2 col-sm-12 col-xl-5 me-1">
    <div class="card-body">
      <h4 class="card-title">
        <LinkTo @route="vc.access-documents.claimed-with-no-signups">Claimed Tickets w/No Sign-Ups</LinkTo>
      </h4>
      <div class="card-text">
        Report on Rangers who have claimed their ticket yet have no shift sign-ups.
      </div>
    </div>
  </div>


 </div>