<main>
  <SurveyReport @surveyId={{this.surveyId}} @reportId={{this.reportId}} as |survey|>
    <h1>{{survey.title}} (Year {{survey.year}})</h1>
    <p>
      <LinkTo @route="mentor.surveys">
        Back to Mentor Surveys
      </LinkTo>
    </p>
  </SurveyReport>
</main>