{{#ch-box "Account Is Disabled" type="warning" icon="exclamation-circle"}}
{{#if (and (not person.callsign_approved) (not person.isPassProspective))}}
  <p>Your callsign is not approved.</p>
{{/if}}
  <p>
    Your account has been (somewhat) disabled because you seem to have
    fallen out of our volunteer application process. Likely this is because you
    applied to become a Ranger in a prior year but have not reapplied for this
    year. If you have applied this year, your account may have been disabled
    if you missed key deadlines, skipped your training, or told us you were
    dropping from the process.
  </p>

  <p>
    Please see <a href="https://rangers.burningman.org/ranger-application-process/">
      our web page</a> for more information on our volunteer application process.
  </p>

  <p>
    If you believe you are receiving this message in error,
    please email {{vc-email}} and we'll get things sorted out for you.
  </p>

  <p>
    If you are interested in auditing a Black Rock Ranger training but don't
    intend to become a Black Rock Ranger on playa this year, please also email
    {{vc-email}} and let us know that.
  </p>

  <p class="font-weight-bold text-danger">
    You will not be able to sign up for trainings or shifts until
    we get your account sorted out.

  </p>
  <p>
    Thanks,<br>
    The Black Rock Rangers
  </p>
{{/ch-box}}
