<UiButtonRow>
  <UiButton @onClick={{@toggleMembership}} @type="secondary" @size="sm" class="me-2">
    {{if @showMembership "Hide" "Show"}} Teams / Positions
  </UiButton>
  {{#if @canEditMembership}}
    <LinkTo @route="person.membership" class="btn btn-secondary btn-sm">
      Edit Teams / Positions
    </LinkTo>
  {{/if}}
</UiButtonRow>
{{#if this.hasNoTeamOrPositions}}
  <div class="mt-2">
    No teams or positions.
  </div>
{{else if @showMembership}}
  <div class="mt-2">
    <TeamsAndPositions @membership={{@personMembership}} />
  </div>
{{/if}}