<h1>Online Training Administration</h1>

<div class="row mb-2">
  <div class="col-auto">
    <LinkTo @route="admin.online-training.index">Online Training Configuration</LinkTo>
  </div>
  <div class="col-auto">
    <LinkTo @route="admin.online-training.courses">Docebo Available Courses</LinkTo>
  </div>
  <div class="col-auto">
    <LinkTo @route="admin.online-training.enrollment">Docebo Enrollment</LinkTo>
  </div>

</div>

{{outlet}}
