<ChSidebar @smallTitle="Online Course" as |s|>
  <s.group @title="Online Course">
    <s.link @route="admin.online-training.index" @title="Configuration"/>
    <s.link @route="admin.online-training.courses" @title="Available Courses" @icon="list"/>
    <s.link @route="admin.online-training.enrollment" @title="Enrollments"/>
  </s.group>
</ChSidebar>
<main>
  {{outlet}}
</main>
