<table class="table table-hover table-striped table-width-auto">
  <thead>
  <tr>
    <th>ID #</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  {{#each @model.courses as |course|}}
    <tr>
      <td class="text-end">{{course.id}}</td>
      <td>{{course.fullname}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>