<h1>Available Courses</h1>
<table class="table table-hover table-striped table-width-auto">
  <thead>
  <tr>
    <th>ID #</th>
    <th>Name</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.courses as |course|}}
    <tr>
      <td class="text-end">{{course.id}}</td>
      <td>
        {{course.fullname}}
        {{#if course.is_half_course}}
          <br>
          <b class="text-success">Current Half Course</b>
        {{/if}}
        {{#if course.is_full_course}}
          <br>
          <b class="text-success">Current Full Course</b>
        {{/if}}
      </td>
      <td>
        {{#unless course.is_full_course}}
          <UiButton @onClick={{action this.setCourseAction course.id "full"}}>
            Set As Full
          </UiButton>
        {{/unless}}
        {{#unless course.is_half_course}}
          <UiButton @onClick={{action this.setCourseAction course.id "half"}}>
            Set As Half
          </UiButton>
        {{/unless}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{#if this.isSubmitting}}
  <LoadingDialog>
    Setting the course.
  </LoadingDialog>
{{/if}}