<h1>Configuration</h1>

<dl>
  <dt>Online Course Enabled?</dt>
  <dd>{{yesno @model.OnlineTrainingEnabled}}</dd>

  <dt>Sign ups allowed without Online Course?</dt>
  <dd>
    {{yesno @model.OnlineTrainingDisabledAllowSignups}}
  </dd>
  <dt>Moodle Half Course ID</dt>
  <dd><PresentOrNot @value={{@model.MoodleHalfCourseId}} @empty="not set" /></dd>

  <dt>Moodle Full Course ID</dt>
  <dd><PresentOrNot @value={{@model.MoodleFullCourseId}} @empty="not set" /></dd>
</dl>
