<h1>People By Status Report</h1>

{{#each this.statuses as |status|}}
  <UiAccordion as |accordion|>
    <accordion.title>
      {{status.status}} ({{pluralize status.people.length "person"}})
    </accordion.title>
    <accordion.body>
      <div class="callsign-list">
        {{#each status.people key="id" as |person|}}
          <div>
            <PersonLink @person={{person}} />
          </div>
        {{/each}}
      </div>
    </accordion.body>
  </UiAccordion>
{{/each}}
