<h1>People By Role Report</h1>

{{#each this.roles as |role|}}
  <ChAccordion as |accordion|>
    <accordion.title>{{role.title}} ({{pluralize role.people.length "person"}})</accordion.title>
    <accordion.body>
      <div class="callsign-list">
        {{#each role.people as |person|}}
          <div>
            <PersonLink @person={{person}} />
          </div>
        {{/each}}
      </div>
    </accordion.body>
  </ChAccordion>
{{/each}}
