{{#ch-form "person" person validator=emergencyContactValidations onSubmit=(action "saveAction") onCancel=(action onCancel) as |f|}}
  <p class="m-2">
    Supply your emergency contact information for both on-playa and off-playa contacts.<br>
      <strong>Off-Playa:</strong>
      Their name, relationship to you (partner, friend, sibling, parent, etc.), a phone number, and email.<br>

      <strong>On-Playa:</strong>
      Their playa name, real-world name, relationship, camp location and camp description.<br>
  </p>
  <div class="form-row mt-2">
    {{f.input "emergency_contact" type="textarea" label="Emergency Contact Information:" rows=8 cols=80 maxlength=200 hint=(concat (if f.model.emergency_contact f.model.emergency_contact.length "0") " of 200 characters")}}
  </div>
  {{f.submit label="Update"}}
  {{f.cancel}}
{{/ch-form}}
