{{#ch-form "positions" positionForm modalBox=true modalTitle="Edit Positions" onSubmit=(action "save") onCancel=(action "cancel") as |f|}}
  <div class="form-row">
    {{f.input "positionIds" type="checkboxGroup" wrapClass="form-row" options=positionOptions}}
  </div>
  <div class="form-group mt-4">
    {{f.submit label="Update"}}
    {{f.cancel}}
  </div>
{{/ch-form}}
