{{#ch-form "roles" roleForm modalBox=true modalTitle="Edit Roles" onSubmit=(action "save") as |f|}}
  <div class="form-row">
    {{f.input "roleIds" type="checkboxGroup" wrapClass="form-row" options=roleOptions}}
  </div>
  <div class="form-group mt-4">
    {{f.submit}}
    <button type="submit" class="btn btn-secondary" {{action "cancel" f.model}}>Cancel</button>
  </div>
{{/ch-form}}
