<UiSidebar @smallTitle="Access Documents" as |s|>
  <s.group @title="Access Documents">
    <s.link @route="vc.access-documents.index" @title="All Documents" @icon="ticket" @iconType="s"/>
    <s.link @route="vc.access-documents.reports" @title="Reports" @icon="list-ol" @iconType="s"/>
    <s.link @route="vc.access-documents.trs" @title="Export Documents" @icon="file-export" @iconType="s"/>
    <s.link @route="vc.access-documents.maintenance" @title="Maintenace" @icon="hammer" @iconType="s"/>
  </s.group>
</UiSidebar>

<main>{{outlet}}</main>
