<ChSidebar>
  <ChSidebarGroup @title="Access Documents">
    <ChSidebarLink @route="vc.access-documents.index" @title="All Documents" @icon="list-alt" @iconType="r" />
    <ChSidebarLink @route="vc.access-documents.expiring" @title="Expiring Tickets" @icon="trash-alt" @iconType="r" />
    <ChSidebarLink @route="vc.access-documents.trs" @title="Export Documents" @icon="file-export" @iconType="s" />
  </ChSidebarGroup>
</ChSidebar>

<main class="col min-width-500">
  {{outlet}}
</main>
