<UiSidebar @smallTitle="Access Documents" as |s|>
  <s.group @title="Access Documents">
    <s.link @route="vc.access-documents.index" @title="All Documents" @icon="list-alt" @iconType="r"/>
    <s.link @route="vc.access-documents.expiring" @title="Expiring Tickets" @icon="trash-alt" @iconType="r"/>
    <s.link @route="vc.access-documents.trs" @title="Export Documents" @icon="file-export" @iconType="s"/>
    <s.link @route="vc.access-documents.statistics" @title="Statistics" @icon="calculator" @iconType="s"/>
    <s.link @route="vc.access-documents.waps" @title="Ranger WAP Candidates" @icon="ticket" @iconType="s"/>
    <s.link @route="vc.access-documents.unclaimed-with-signups" @title="Unclaimed w/Sign Ups" @icon="house-fire"
            @iconType="s"/>
    <s.link @route="vc.access-documents.claimed-with-no-signups" @title="Claimed w/No Sign Ups"
            @icon="fire-extinguisher" @iconType="s"/>
    <s.link @route="vc.access-documents.unsubmit-provisions" @title="Un-submit Provisions" @icon="trash-arrow-up"
            @iconType="s"/>
  </s.group>
</UiSidebar>

<main>{{outlet}}</main>
