{{#if timesheetInfo.correction_enabled}}
  <p>
    To ensure you will receive proper credit for your {{timesheetInfo.correction_year}}
    Ranger efforts, please follow all steps on this page. You need to confirm your
    whole timesheet at the end.
  </p>

  <p>
    <strong>1. Review your timesheet entries and mark each as correct or incorrect.</strong>
    If the entry is incorrect, provide an explanation on why the entry is wrong.
    <br>
    {{#link-to "me.timesheet-corrections.review" class="btn btn-primary"}}Review Timesheet{{/link-to}}
  </p>
  <p>
    <strong>2. Is your timesheet missing a shift?</strong>
    For any missing shifts, fill out the Missing Timesheet Entry Request form.
    You may submit more than one request.<br>
    {{#link-to "me.timesheet-corrections.missing" class="btn btn-primary"}}Submit A Missing Entry Request{{/link-to}}
  </p>
  <p>
    <strong>3. Final step - Let us know you believe the timesheet is correct, and you
      have no more corrections to submit.
    </strong>
    After your very last shift for the event, AND all your timesheets
    have been marked as correct, AND there are no outstanding correction requests,
    let us know.<br>
    {{#link-to "me.timesheet-corrections.confirm" class="btn btn-primary"}}Final Confirmation{{/link-to}}
  </p>
  {{outlet}}
{{else}}
  <p class="text-danger">
    Timesheet corrections are not permitted at this time.
    Contact {{general-support-email}} if you have
    concerns or questions about your timesheet.
  </p>
{{/if}}
