<h1>Trainer Feedback</h1>
<BackToHome />

{{#if this.surveys}}
  <UiTable>
    <thead>
    <tr>
      <th>Year</th>
      <th>Surveys</th>
    </tr>
    </thead>
    <tbody>
    {{#each-in this.surveys as |year surveyTypes|}}
      <tr>
        <td>
          <LinkTo @route="me.trainer-feedback.view" @model={{year}}>{{year}}</LinkTo>
        </td>
        <td>
          {{#each surveyTypes as |survey|}}
              {{survey.title}}<br>
          {{/each}}
        </td>
      </tr>
    {{/each-in}}
    </tbody>
  </UiTable>
{{else}}
  <p>
    <b class="text-danger">No one has left you trainer feedback or you are not a trainer.</b>
  </p>
{{/if}}
