<h3 class="d-print-none">Schedule &amp; Sign Ups</h3>
<h1 class="d-none d-print-block">{{year}} Schedule for {{person.callsign}}</h1>
{{schedule-manage person=person slots=slots creditsEarned=creditsEarned scheduleSummary=scheduleSummary signedUpSlots=signedUpSlots year=year permission=permission}}
