<UiSection>
  <:title>Training Information</:title>
  <:body>
    {{#if this.person.isEchelon}}
      <p>Echelon volunteers are not required to pass training.</p>
    {{/if}}

    <TrainingInfo @trainings={{this.eventInfo.trainings}} />
  </:body>
</UiSection>
