<h3>Training Information <HelpPopover @slug="hq-training-info" /></h3>

{{#if this.person.isNonRanger}}
  <p>Non Rangers are not required to pass training.</p>
{{/if}}

<TrainingInfo @trainings={{this.eventInfo.trainings}} />
