<h3>Training Information {{help-popover slug="hq-training-info"}}</h3>

{{#if person.isNonRanger}}
  <p>Non Rangers are not required to pass training.</p>
{{/if}}

<TrainingInfo @trainings={{eventInfo.trainings}} />
