<h1>Contact a Ranger</h1>
<BackToHome/>
<p>
  <b>Notice:</b> The Contact Ranger feature is now part of
  <LinkTo @route="me.messages">Me &gt; Messages</LinkTo>
  . The interface has been improved to make it easier to search for the Ranger you want to contact.
</p>
<p class="text-success">
  {{fa-icon "thumbs-up" type="r" right=1}} Contact messages are now stored in the Clubhouse, unlike in the previous
  interface.
</p>
<p>
  As a reminder, you may only message Rangers with active, inactive, or inactive status. Message delivery is
  not guaranteed.
</p>