<h1>Khaki, Khaki, I need some help.</h1>
<BackToHome />

<dl>
  <dt>For general Ranger questions:</dt>
  <dd>
    Do you have a Ranger question or issue that is not related to this
    website? Please contact the Ranger support team here at {{general-support-email}}
  </dd>

  <dt>I want to change my callsign.</dt>
  <dd>
    The Volunteer Coordinators (VC) handle all callsign change requests. You are allowed ONE
    lifetime callsign change. Please note auditors are not allowed to choose
    their own callsign.
    <p>
      Contact the VCs at {{mail-to (config "VCEmail")}}
    </p>
  </dd>

  <dt>I have a Clubhouse (this website) question, suggestion, or issue.</dt>
  <dd>
    The Tech Ninja are here to help with the website. Contact the ninja's at
    {{admin-email}} for all Clubhouse technical issues,
    questions, and suggestions.
  </dd>
</dl>
