<h1>Clubhouse Messages for <span class="d-inline-block">{{person.callsign}}</span></h1>

<p>
  Clubhouse messages are way for various departments to communicate with Rangers
  while the event is happening. 
</p>

{{clubhouse-messages person=person messages=messages}}
