<h1>2019 Ranger Vehicle Motorpool Policy</h1>

{{#if (config "MotorpoolPolicyEnable")}}
  {{#if person.vehicle_paperwork}}
    {{#ch-alert "success"}}
      You have agreed to the motorpool policy. Thank you. Please drive safely.
    {{/ch-alert}}
  {{/if}}
  <b>Motorpool Policy</b>
  <p>All vehicles used for Ranger business shall be used in accordance with the Motorpool policy.</p>
  <p>
    All volunteers who are issued a Black Rock City driving sticker, and all volunteers who complete the motor vehicle record (MVR) process must understand and agree to this policy each year they plan to drive for Ranger
  </p>
  <p>All volunteers who drive in Black Rock City must adhere to this policy at all times on playa, even if driving a personal vehicle.</p>
  <p>
    Anyone driving on behalf of the Rangers must set an example for BRC driving rules, and should read the
    <a href="https://www.google.com/url?q=https://drive.google.com/open?id%3D1lLQgxovdUOTYeBlqxvaMMS1Art4X7IoMfFOsVQPMULg&amp;sa=D&amp;ust=1559187372092000" rel="noopener" target="_blank">Ranger
      Vehicle Operations document</a> (opens in a new window) to familiarize themselves with procedures and lessons learned.
  </p>
  <p>
    Anyone operating any vehicle for Ranger purposes on or off playa must acknowledge they have read the Ranger Motorpool Policy and understand the terms and
    conditions of operating a vehicle for Ranger business. The acknowledgement is needed for any vehicle used for Ranger business, including golf carts, UTVs (&quot;Gators&quot;),
    automobiles, SUVs and trucks; whether it is a Burning Man owned vehicle, rental vehicle or personal vehicle.
  </p>
  <p>Drivers of Burning Man-owned, rental or personal automobiles, SUVs or trucks must also be confirmed on the Burning Man insurance policy, which requires submitting a separate Motor Vehicle Request (MVR) form for a
    driving record check before being authorized to drive such a vehicle. The cadres/leads of teams needing Rangers to drive this type of vehicle for Ranger business have the link to the MVR form.
  </p>
  <p>All problems with a vehicle must be documented in writing and submitted directly to the current Shift Lead, Vehicle Maintenance Supervisor, or Logistics Manager in a timely manner</p>
  <p>Off-road recreational vehicles may not enter Black Rock City unless licensed by DMV. Off-road recreational vehicles, including All-Terrain Vehicles (ATVs) may not be used for Ranger business.</p>
  <p>By driving on behalf of Burning Man, and the Rangers in particular, you agree to comply with all the provisions of the <b>Black Rock City Driving Policy</b>:</p>
  <ul>
    <li>Must be legally allowed to drive in Nevada</li>
    <li>Must posses a valid driver license</li>
    <li>Must adhere to the Black Rock City speed limits</li>
    <li>Must follow all traffic laws while driving on county roads</li>
    <li>Must check the vehicle for functionality and report to manager/lead on discovery of any equipment not properly working</li>
    <li>Must ensure the vehicle has a current and correct driving permit sticker</li>
    <li>Must not drive under the influence of either alcohol or controlled substances. Doing so is illegal and grounds for immediate termination.</li>
  </ul>
  <b>Vehicle Definitions: </b>
  <ul>
    <li>Golf Cart - A cart. Usually used on golf courses.
      <ul>
        <li>Usually issued a tracking number of &ldquo;GC##&rdquo;</li>
      </ul>
    </li>
    <li>UTV - Utility Vehicle. AKA &ldquo;Gator&rdquo;
      <ul>
        <li>Usually issued a tracking number of &ldquo;C#&rdquo;</li>
      </ul>
    </li>
    <li>Rental Vehicle - Any truck, SUV, Van or automobile rented by Burning Man.
      <ul>
        <li>Drivers of rental vehicles used for Burning Man must be on the Burning Man insurance policy.</li>
      </ul>
    </li>

    <li>POV - Personally Owned Vehicle with issued door logos,staff sticker, or pre/post sticker

      <ul>
        <li>Drivers of POVs used for Burning Man purposes must be on the Burning Man insurance policy.</li>
        <li>POVs will only be issued logos if there is a compelling need approved by the Logistics or Operations Managers, and if the owner has filled out the Ranger Logo Agreement Form.</li>
      </ul>
    </li>
  </ul>
  <b>Additional Conditions</b>
  <ul>
    <li>All Rangers issued a vehicle must be &ldquo;on comm&rdquo; at all times while in possession of the vehicle or of the vehicle keys.</li>
    <li>The vehicles issued must be used only in connection with Ranger business.</li>
    <li>Smoking is prohibited in Burning Man rental vehicles.</li>
  </ul>
  <b>Authorization in Clubhouse</b>
  <ul>
    <li>The Ranger&rsquo;s driving authorization status will be listed in the Ranger Clubhouse.</li>
    <li>If authorized to drive a UTV or Golf Cart, the &ldquo;Motorpool Policy&rdquo; box will be checked</li>
    <li>If authorized to drive Rental Vehicles and POVs, the &ldquo;Vehicle Insurance Paperwork&rdquo; box will be checked.</li>
  </ul>
  <b>Issuing Vehicles:</b>
  <ul>
    <li>Designated vehicles may be assigned for a specific team&rsquo;s use for identified periods.</li>
    <li>Motorpool vehicles are issued on a temporary basis for a specific shift or use.</li>
    <li>Motorpool vehicles must be returned to the designated parking area when the shift or task ends, unless otherwise directed by the current Shift Lead or a Logistics Supervisor.</li>
    <li>Motorpool vehicles are issued by the Logistics/SITE team pre- and post-event, and by the Shift Command team during the event</li>
    <li>Motorpool vehicles may be repurposed at any time by the Shift Command team for use during a higher priority incident or emergency.
      <ul>
        <li>When the Shift Command team needs to repurpose a vehicle, the Ranger to whom the vehicle was issued must return the vehicle to Ranger HQ or other location as directed, as soon as possible.</li>
      </ul>
    </li>
  </ul>
  <b>Field Transfers of vehicles</b>
  <ul>
    <li>A vehicle shall not be transferred from Ranger to Ranger in the field, unless approved by the current Shift Lead or a Logistics Supervisor.</li>
  </ul>
  <b>Servicing</b>
  <ul>
    <li>Fleet vehicles must be maintained on a regular basis and brought to Ranger Vehicle Maintenance for daily servicing during service hours.</li>
    <li>No graffiti, stickers, decals, spray paint, or other decorations shall be applied to any surface of the rental vehicle. Vinyl door logos provided by the Logistics team are the only approved exception.</li>
  </ul>
  <b>Trash</b>
  <ul>
    <li>The driver who delivers the vehicle to the service area is considered to be responsible for all trash in the vehicle.</li>
  </ul>
  <ul>
    <li>
      When checking out a vehicle, the driver is expected to conduct a quick visual inspection for damage, tire inflation, fuel state, and trash or other items left
      behind by previous drivers
    </li>
    <li>Vehicles are to be returned in the condition in which they were issued (or better). This means removing any trash&nbsp;or personal items left in the vehicle.</li>
  </ul>
  <b>Fuel</b>
  <ul>
    <li>All fleet vehicles must maintain at least 1/2 tank of gas. Rangers returning a vehicle with less than 1/2 a tank more than once can lose driving privileges.
      <ul>
        <li>The Fuel Depot is located at the DPW Depot at the end of the 5:30 Avenue, and is open for limited hours each day (see your Field Guide or check at HQ).</li>
        <li>Personal Vehicle owners driving on Ranger business may request a fuel chit from the Logistics or Operations Managers for either a one-time or event authorization.</li>
      </ul>
    </li>
  </ul>
  <b>Accidents or Damage</b>
  <ul>
    <li>Any incidents, accidents or damage must be reported immediately using the vehicle accident claim form.</li>
    <li>The vehicle accident claim form can be found in the glove box or Outpost Tokyo logistics office.</li>
    <li>The vehicle accident claim form must be provided to the current Shift Lead immediately following the incident so it can be logged and forwarded to the Logistics or Operations Manager.</li>
  </ul>

  {{#if person.vehicle_paperwork}}
    <p class="text-success font-weight-bold">Thank you for agreeing to the motorpool policy.
      You have acknowledged you have read the Ranger motorpool policy and understand
      the terms and conditions of driving a vehicle for Ranger business.
    </p>
  {{else}}
    <p class="font-weight-bold">
      By clicking on the "Yes, I agree to the motorpool policy" button below,
      you acknowledge you have read the Ranger motorpool policy and understand
      the terms and conditions of driving a vehicle for Ranger business.
    </p>

    <button type="submit" {{action "agreeAction"}} class="btn btn-primary">Yes, I agree to the motorpool policy.</button>
  {{/if}}
{{else}}
  <p>
    The Motorpool Policy for this year is not yet available. Please check back later.
  </p>
{{/if}}
