<h1>2018 Ranger Vehicle Motorpool Policy</h1>

{{#if person.vehicle_paperwork}}
{{#ch-alert "success"}}
  You have agreed to the motorpool policy. Thank you. Please drive safely.
{{/ch-alert}}
{{/if}}
<p>
    All vehicles used for Ranger business shall be used in accordance with the Motorpool policy/protocol.
</p>

<p>
    Anyone operating any vehicle for Ranger business on or off playa must
    acknowledge they have read the Ranger motorpool policy/protocol and
    understand the terms and conditions of operating a vehicle for Ranger
    business.   The acknowledgement is needed for any vehicle used for Ranger
    business, including  golf carts, UTVs ("Gators"), automobiles, SUVs and
    trucks, and whether it is a Burning Man owned vehicle, rental vehicle or
    personal vehicle.
</p>

<p>
    Drivers of Burning Man owned, rental or personal automobiles, SUVs or trucks
    must submit the motorpool policy acknowledgement AND be confirmed on the
    Burning Man insurance policy (which requires submitting a separate Motor
    Vehicle Request (MVR) form for a driving record check) before being
    authorized to drive an automobile, SUV, or truck on Ranger business. The
    cadres/leads of teams needing Rangers to drive automobiles, SUVs. or trucks
    for Ranger business have the link to the Burning Man Motor Vehicle Release
    (MVR) form.
</p>

<p>
    The motorpool policy acknowledgement and MVR form are only valid for the
    current year. Drivers on Ranger business must submit the policy
    acknowledgement and complete the MVR form if applicable each year they plan
    to drive for Ranger business.
</p>

<p>
    Any and all problems with a vehicle must be documented in writing and
    submitted directly to the current Shift Lead, Vehicle Maintenance
    Supervisor, SITE Manager or Logistics Manager in a timely manner
</p>

<p>
    All Terrain Vehicles (ATVs) may never be used for Ranger business.
</p>

<p>
    Additional information on the Ranger vehicle policy/protocol is listed below.
</p>

<dl class="policy-definitions">
    <dt>Additional Conditions</dt>
    <dd>
        <ul>
            <li>
              Drivers are expected to operate vehicles in a safe and courteous manner
            </li>
            <li>
              When checking out a vehicle, the driver is expected to conduct a quick visual inspection for damage, tire inflation, fuel state, and trash or other items left behind by previous drivers.
            </li>
            <li>
              All Rangers issued a vehicle must be “on comm” at all times while in possession of the vehicle and while in possession of the vehicle keys.
            </li>
            <li>
              The vehicles issued must be used only in connection with Ranger business.
            </li>
            <li>
              Vehicles are to be returned in the condition in which they were issued. This means removing any trash or personal items left in the vehicle.
            </li>
            <li>
              Using a Ranger vehicle while intoxicated or impaired, is strictly prohibited.
            </li>
        </ul>
    </dd>

    <dt>Vehicle Definitions</dt>
    <dd>
        <ul>
            <li>
                Golf Cart - A cart. Usually used on golf courses.
                <ul>
                    <li>Usually issued a tracking number of “GC##”</li>
                </ul>
            </li>

            <li>
                UTV - Rental Utility Vehicle. AKA “Gator”
                <ul>
                    <li>Usually issued a tracking number of “C#”</li>
                </ul>
            </li>

            <li>
                Rental Vehicle - Any truck, SUV, Van or automobile rented by Burning Man.
                <ul>
                    <li>Drivers of Rental Vehicles used for Burning man must be on the Burning Man insurance policy.</li>
                </ul>
            </li>

            <li>
                POV - Personally Owned Vehicle with issued door logos or staff sticker or pre/post sticker
                <ul>
                    <li>Drivers of POVs used for Burning man purposes must be on the Burning Man insurance policy.</li>
                    <li>
                        POVs will only be issued logos if there is a compelling
                        need approved by the Logistics Manager or Operations Manager and
                        the owner has filled out the Ranger logo agreement form.
                    </li>
                </ul>
            </li>

        </ul>
    </dd>
    <dt>Drivers</dt>
    <dd>
        <ul>
            <li>
                Drivers of any vehicle subject to this motorpool protocol MUST submit the Motorpool acknowledgement form prior to driving.
            </li>

            <li>
                Drivers of rental vehicles or POVs must also submit the Motor Vehicle Request (MVR) form and be approved on the Burning Man insurance policy in addition to submitting the Motorpool acknowledgement form.
            </li>

            <li>
                The Ranger’s driving authorization status will be listed in the Ranger Clubhouse.
            </li>
        </ul>
    </dd>

    <dt>Issuing Vehicles</dt>
    <dd>
        <ul>
            <li>
              Designated vehicles may be assigned for a specific team’s use for identified periods.
            </li>
            <li>
              Motorpool vehicles are issued on a temporary basis for a specific shift or use.
            </li>
            <li>
              Motorpool vehicles must be returned to the designated parking area when the shift or task ends unless otherwise directed by the current shift lead or a logistics supervisor
            </li>
            <li>
              Motorpool vehicles are issued by the Logistics/SITE team pre and post event
            </li>
            <li>
              Motorpool vehicles are issued by the Shift Command team during the event
            </li>
            <li>
              Motorpool vehicles must be returned to the designated motorpool parking area when the shift or task ends unless otherwise approved by the current shift lead or a logistics supervisor.
            </li>
            <li>
              Motorpool vehicles may be repurposed at any time by the Shift Command Team for use during a higher priority incident or emergency.
              <ul>
                  <li>
                      When the Shift Command Team needs to repurpose a vehicle, the Ranger to whom the vehicle was issued must return the vehicle to Ranger HQ or other location as directed, as soon as possible.
                  </li>
              </ul>
            </li>
        </ul>
    </dd>

    <dt>Field Transfer Of Vehicles</dt>
    <dd>
        <ul>
            <li>
                A vehicle shall not be transferred from Ranger-to-Ranger in the field unless approved by the current shift lead or a logistics supervisor.
            </li>
        </ul>
    </dd>

    <dt>Servicing</dt>
    <dd>
        <ul>
            <li>
                Fleet vehicles must be maintained on a regular basis and brought to Ranger Vehicle Maintenance for daily servicing during service hours.
            </li>
            <li>
                No graffiti, stickers, decals, spray paint, or other decorations shall be applied to any surface of the rental vehicle. Vinyl door logos provided by the logistics team are the only approved exception.
            </li>
            <li>
                The driver who delivers the vehicle to the service area is considered to be responsible for all trash in the vehicle.
            </li>
        </ul>
    </dd>

    <dt>Fuel</dt>
    <dd>
        <ul>
            <li>
                All fleet vehicles must maintain at least 1/2 tank of gas.
                Rangers returning a vehicle with less than 1/2 a tank more than
                once can lose driving privileges.
                <ul>
                    <li>
                        The Fuel Depot is located at the DPW Depot, at the end of the 5:30 Avenue, and is only open during specified times.
                    </li>
                    <li>
                        POV owners driving on Ranger business may request a fuel chit from the Logistics or Operations Managers for either a one-time or event authorization.
                    </li>
                </ul>
            </li>
        </ul>
    </dd>

    <dt>Accidents or Damage</dt>
    <dd>
        <ul>
            <li>
                ANY DAMAGE TO A VEHICLE CAUSED BY AN ACCIDENT MUST BE REPORTED
                IMMEDIATELY ON THE VEHICLE ACCIDENT REPORT WHICH CAN BE FOUND IN
                THE GLOVE BOX OR OUTPOST TOKYO LOGISTICS OFFICE
                <ul>
                    <li>
                        The Vehicle Accident Report must be returned to the current Shift Lead as soon as the accident happens so it can be forwarded to the Logistics or Operations Manager.
                    </li>
                </ul>
            </li>
        </ul>
    </dd>
</dl>

<p class="font-weight-bold">
    By clicking on the "Yes, I agree to the motorpool policy" button below,
    you acknowledge you have read the Ranger motorpool policy and understand
    the terms and conditions of driving a vehicle for Ranger business.
 </p>

<button type="submit" {{action "agreeAction"}} class="btn btn-primary">Yes, I agree to the motorpool policy.</button>
