<h1>Tickets &amp; Stuff For <span class="d-inline-block">{{this.session.user.callsign}}</span></h1>
<BackToHome />

<TicketingLanding @person={{this.session.user}} @ticketingInfo={{ticketingInfo}} @ticketPackage={{ticketPackage}} />
