<h1>Tickets &amp; Stuff For <span class="d-inline-block">{{this.person.callsign}}</span></h1>
<BackToHome/>

<TicketingLanding @person={{this.person}}
                  @ticketingInfo={{this.ticketingInfo}}
                  @ticketingPackage={{this.ticketingPackage}} />
