<h1>Work History for {{this.person.callsign}}</h1>
<div class="mb-2">
  <LinkTo @route="me.timesheet">Back To Me &gt; Timesheet</LinkTo>
</div>
<WorkHistory @person={{this.person}} @timesheet={{this.timesheet}} />
