<h2>External Account Identifiers</h2>
<p>
  This page shows the identifiers used to associate this Clubhouse account with external websites
  such as Burner Profiles, the Moodle Learning Management System, etc.
</p>
<ChForm @formId="person" @formFor={{this.person}} @onSubmit={{action this.saveAction}} as |f|>
  <FormRow>
    <f.text @name="bpguid"
            @label="Burner Profile Global UID (BPGUID)"
            @size={{40}}
            @maxlength={{200}}
    />
  </FormRow>

  <FormRow>
    <f.text @name="lms_id"
            @label="LMS Account ID"
            @size={{40}}
            @maxlength={{200}}
    />
  </FormRow>

  <FormRow>
    <f.submit @label="Update"/>
    {{#if this.person.isSaving}}
      <LoadingIndicator/>
    {{/if}}
  </FormRow>
</ChForm>
