<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th>Mentor</th>
      <th>Year</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each mentors as |mentor|}}
    <tr>
      <td>{{person-link personId=mentor.person_id callsign=mentor.callsign}}</td>
      <td>{{mentor.year}}</td>
      <td>{{mentor.status}}</td>
    </tr>
    {{else}}
    <tr>
      <td colspan="3">No mentor records located</td>
    </tr>
    {{/each}}
  </tbody>
</table>
