<h2>Change Password</h2>
{{#ch-form "password" passwordForm validator=passwordValidations onSubmit=(action "submitAction") as |f|}}
  <div class="form-row">
    {{f.input "password" type="password" label="New Password" size=20 maxlength=30 grid="col-auto"}}
  </div>
  <div class="form-row">
    {{f.input "password_confirmation" type="password" label="Confirm New Password" size=20 maxlength=30 grid="col-auto"}}
  </div>
  {{f.submit label="Change Password" disabled=isSubmitting}}
{{/ch-form}}
