<h3>Change Password</h3>
<ChForm @formId="password"
        @formFor={{this.passwordForm}}
        @validator={{this.passwordValidations}}
        @onSubmit={{this.submitAction}} as |f|>
  <FormRow>
    <f.password @name="password"
                @label="New Password"
                @size={{20}}
                @maxlength={{30}} />
  </FormRow>
  <FormRow>
    <f.password @name="password_confirmation"
                @type="password"
                @label="Confirm New Password"
                @size={{20}}
                @maxlength={{30}}
    />
  </FormRow>
  <f.submit @label="Change Password" @disabled={{this.isSubmitting}} />
  {{#if this.isSubmitting}}
    <LoadingIndicator/>
  {{/if}}
</ChForm>
