<div class="error-pane">
  <div class="error-message">
    Uncaught exception happened when trying to load a resource.
    <p>{{error.message}}</p>
    <dl>
      <dt>Message:</dt>
      <dd>{{error.message}}</dd>

      <dt>Stack:</dt>
      <dd><pre>{{error.stack}}</pre></dd>
    </dl>

  </div>
</div>
