{{! Besure to keep application.hbs in sync with the links}}
<UiSidebar @noSmallScreen={{true}} as |s|>
  <s.group @title="ME MENU">
    <s.link @route="me.homepage" @title="Home" @icon="home" @iconType="s"/>
    {{#if (not (or this.user.isPastProspective this.user.isProspectiveWaitlist))}}
      <s.link @route="me.schedule" @title="Schedule / Sign Up" @icon="clipboard"/>
      {{#if (or this.user.isNonRanger this.user.isRanger)}}
        <s.link @route="me.timesheet" @title="Timesheets" @icon="clock"/>
      {{/if}}
      {{#unless this.user.isAuditor}}
        <s.link @route="me.event-info" @title="Event Info" @icon="user"/>
      {{/unless}}
    {{/if}}
  </s.group>

  {{#if (or this.user.isRanger this.user.isPNV this.user.isNonRanger)}}
    <s.group @title="PRE-EVENT">
      {{#if this.user.isPNV}}
        <s.link @route="me.tickets" @title="Work Access Pass" @icon="ticket-alt" @iconType="s"/>
      {{else}}
        <s.link @route="me.tickets" @title="Tickets & Stuff" @icon="ticket-alt" @iconType="s"/>
      {{/if}}
      <s.link @route="me.agreements" @title="Agreements" @icon="file-signature" @iconType="s"/>
      {{#if this.user.may_request_stickers}}
        <s.link @route="me.vehicles" @title="Vehicle Requests" @icon="truck-monster" @iconType="s"/>
      {{/if}}
    </s.group>
  {{/if}}

  <s.group @title="COMMUNICATION">
    {{#if this.user.isRanger}}
      <s.link @route="me.messages" @title="Messages" @icon="envelope" @badgeText={{this.session.unreadMessageCount}} />
    {{/if}}
    {{#if (or this.user.isRanger this.user.isPNV this.user.isAuditor)}}
      <s.link @route="me.announcements" @title="Announcements" @icon="bullhorn" @iconType="s"/>
    {{/if}}
    <s.link @route="me.alerts" @title="Alert Preferences" @icon="bell"/>
    {{#if this.user.teacher.have_mentored}}
      <s.link @route="me.mentees" @title="My Mentees" @icon="users" @iconType="s"/>
    {{/if}}
    {{#if this.user.isRanger}}
      <s.link @route="me.mentors" @title="My Mentors" @icon="people-arrows" @iconType="s"/>
    {{/if}}

    {{#if this.user.teacher.have_feedback}}
      <s.link @route="me.trainer-feedback" @title="Trainer Feedback" @icon="poll-h" @iconType="s"/>
    {{/if}}

    {{#if (or this.user.isActive this.user.isInactive)}}
      <s.link @route="me.contact" @title="Contact Ranger" @icon="comments" @iconType="s"/>
    {{/if}}
  </s.group>

  <s.group @title="MY ACCOUNT">
    <s.link @route="me.personal-info" @title="Personal Info" @icon="address-card" @iconType="r"/>
    {{#if (or this.user.isRanger this.user.isPNV)}}
      <s.link @route="me.emergency-contact" @title="Emergency Contact" @icon="exclamation" @iconType="s"/>
    {{/if}}
    <s.link @route="me.password" @title="Change Password" @icon="key" @iconType="s"/>
  </s.group>
</UiSidebar>
<main>
  {{outlet}}
</main>
