{{! Besure to keep application.hbs in sync with the links}}
<ChSidebar>
  {{#unless (or user.isPastProspective user.isProspectiveWaitlist)}}
    <ChSidebarGroup @title="ME MENU">
      <ChSidebarLink @route="me.schedule" @title="Schedule / Sign Up" @icon="clipboard" />
      {{#if (or user.isNonRanger user.isRanger)}}
        <ChSidebarLink @route="me.timesheet-corrections.index" @title="Timesheet Corrections" @icon="list-ol" @iconType="s" />
        <ChSidebarLink @route="me.timesheet" @title="Timesheets" @icon="clock" />
      {{/if}}
      {{#unless user.isAuditor}}
        <ChSidebarLink @route="me.event-info" @title="Event Info" @icon="user" />
      {{/unless}}
    </ChSidebarGroup>
  {{/unless}}

  {{#if (or user.isRanger user.isAlpha user.isProspective user.isNonRanger)}}
    <ChSidebarGroup @title="PRE-EVENT">
      {{#unless user.isNonRanger}}
        {{#if (or user.isAlpha user.isProspective)}}
          <ChSidebarLink @route="me.tickets" @title="Work Access Pass" @icon="ticket-alt" @iconType="s" />
        {{else}}
          <ChSidebarLink @route="me.tickets" @title="Tickets & Stuff" @icon="ticket-alt" @iconType="s" />
        {{/if}}
      {{/unless}}
      {{#if (and (config "MotorpoolPolicyEnable") (or user.isRanger user.isAlpha user.isNonRanger))}}
        <ChSidebarLink @route="me.motorpool-policy" @title="Motorpool Policy" @icon="car" @iconType="s" />
      {{/if}}
    </ChSidebarGroup>
  {{/if}}

  <ChSidebarGroup @title="COMMUNICATION">
    {{#if user.isRanger}}
      <ChSidebarLink @route="me.messages" @title="Messages" @icon="envelope" @badgeText={{user.unread_message_count}} />
    {{/if}}
    <ChSidebarLink @route="me.alerts" @title="Alert Preferences" @icon="bell" />
    {{#if user.teacher.have_mentored}}
      <ChSidebarLink @route="me.mentees" @title="My Mentees" @icon="users" @iconType="s" />
    {{/if}}
    {{#if user.isRanger}}
      <ChSidebarLink @route="me.contact" @title="Contact Ranger" @icon="comments" @iconType="s" />
    {{/if}}
  </ChSidebarGroup>

  <ChSidebarGroup @title="MY ACCOUNT">
    <ChSidebarLink @route="me.personal-info" @title="Personal Info" @icon="home" @iconType="s" />
    {{#if (or user.isRanger user.isAlpha user.isProspective)}}
      <ChSidebarLink @route="me.emergency-contact" @title="Emergency Contact" @icon="exclamation" @iconType="s" />
    {{/if}}
    <ChSidebarLink @route="me.password" @title="Change Password" @icon="key" @iconType="s" />
  </ChSidebarGroup>

  <ChSidebarGroup>
    <ChSidebarLink @route="me.help" @title="Help" @icon="question" @iconType="s" />
  </ChSidebarGroup>
</ChSidebar>
<main class="col">
  {{outlet}}
</main>
