{{! Besure to keep application.hbs in sync with the links}}
<ChSidebar as |s|>
  <s.group @title="ME MENU">
    <s.link @route="me.homepage" @title="Home" @icon="home" @iconType="s"/>
    {{#unless (or user.isPastProspective user.isProspectiveWaitlist)}}
      <s.link @route="me.schedule" @title="Schedule / Sign Up" @icon="clipboard"/>
      {{#if (or user.isNonRanger user.isRanger)}}
        <s.link @route="me.timesheet-corrections.index" @title="Timesheet Corrections" @icon="list-ol" @iconType="s"/>
        <s.link @route="me.timesheet" @title="Timesheets" @icon="clock"/>
      {{/if}}
      {{#unless user.isAuditor}}
        <s.link @route="me.event-info" @title="Event Info" @icon="user"/>
      {{/unless}}
    {{/unless}}
  </s.group>

  {{#if (or user.isRanger user.isPNV user.isNonRanger)}}
    <s.group @title="PRE-EVENT">
      {{#unless user.isNonRanger}}
        {{#if user.isPNV}}
          <s.link @route="me.tickets" @title="Work Access Pass" @icon="ticket-alt" @iconType="s"/>
        {{else}}
          <s.link @route="me.tickets" @title="Tickets & Stuff" @icon="ticket-alt" @iconType="s"/>
        {{/if}}
      {{/unless}}
      {{#if (and (config "MotorpoolPolicyEnable") (or user.isRanger user.isAlpha user.isNonRanger))}}
        <s.link @route="me.motorpool-policy" @title="Motorpool Policy" @icon="car" @iconType="s"/>
      {{/if}}
      {{#if (and (config "RadioCheckoutAgreementEnabled") (or user.isRanger user.isAlpha user.isNonRanger))}}
        <s.link @route="me.radio-checkout" @title="Radio Agreement" @icon="broadcast-tower" @iconType="s"/>
      {{/if}}
      {{#if user.may_request_stickers}}
        <s.link @route="me.vehicles" @title="Vehicle Requests" @icon="truck-monster" @iconType="s"/>
      {{/if}}
    </s.group>
  {{/if}}

  <s.group @title="COMMUNICATION">
    {{#if user.isRanger}}
      <s.link @route="me.messages" @title="Messages" @icon="envelope" @badgeText={{user.unread_message_count}} />
    {{/if}}
    {{#if (or user.isRanger user.isPNV user.isAuditor)}}
      <s.link @route="me.announcements" @title="Announcements" @icon="bullhorn" @iconType="s"/>
    {{/if}}
    <s.link @route="me.alerts" @title="Alert Preferences" @icon="bell"/>
    {{#if user.teacher.have_mentored}}
      <s.link @route="me.mentees" @title="My Mentees" @icon="users" @iconType="s"/>
    {{/if}}
    {{#if user.teacher.have_feedback}}
      <s.link @route="me.trainer-feedback" @title="Trainer Feedback" @icon="poll-h" @iconType="s"/>
    {{/if}}

    {{#if user.isRanger}}
      <s.link @route="me.contact" @title="Contact Ranger" @icon="comments" @iconType="s"/>
    {{/if}}
  </s.group>

  <s.group @title="MY ACCOUNT">
    <s.link @route="me.personal-info" @title="Personal Info" @icon="address-card" @iconType="r"/>
    {{#if (or user.isRanger user.isPNV)}}
      <s.link @route="me.emergency-contact" @title="Emergency Contact" @icon="exclamation" @iconType="s"/>
    {{/if}}
    <s.link @route="me.password" @title="Change Password" @icon="key" @iconType="s"/>
  </s.group>

  <s.group>
    <s.link @route="me.help" @title="Help" @icon="question" @iconType="s"/>
  </s.group>
</ChSidebar>
<main>
  {{outlet}}
</main>
