<main class="col">
  <h1>Khaki, Khaki, Clubhouse - I need to report a 404 error. The page cannot be found.</h1>

  <p>
    Sorry, the Clubhouse could not find the page you asked for. There could be a few reasons
    for this:

    <ul>
      <li>The page address (aka URL) entered was mistyped. Check for any typos.</li>
      <li>The page has been moved somewhere else.</li>
      <li>The Clubhouse has a bug.</li>
    </ul>

    {{#link-to "me.overview"}}Back To The Home Page{{/link-to}}
  </p>
</main>
