<main class="col">
<p class="text-danger">
  Uh oh, the request to the Clubhouse server could not be completed. The server might be offline or the Internet connection is spotty.
</p>

<a href="/" class="btn btn-primary">Retry</a>
</main>
