{{#ch-box "Website is offline" icon="exclamation-triangle" type="danger" }}
<p>
  The website appears to be offline at the moment. Please try again
  in a few minutes.
</p>

<a href="/" class="btn btn-primary">Retry</a>

{{/ch-box}}
