<div class="row" id="body-row">
   {{login-sidebar}}
    <main class="col">
      <div class="row">
        <div class="col-md-10 col-sm-12">
          {{#ch-box "No longer have access to the email address?"}}
            Please email {{general-support-email}} if you not longer have
            access to the email address that was used to sign into the Clubhouse.
          {{/ch-box}}
          <h1>Khaki, I need a password reset &hellip;	</h1>
          {{#ch-form "auth" auth validator=resetPasswordValidations onSubmit=(action "submit") as |f|}}
            {{f.input "identification" label="Please enter your email address"}}
            {{f.submit label="Reset Password" disabled=isSubmitting }}
            <div class="text-muted float-right">Remembered the password? {{#link-to "login"}}Back to Login{{/link-to}}</div>
          {{/ch-form}}
        </div>
      </div>
    </main>
</div>
