  {{login-sidebar}}
  <main class="col">
    <h1>Khaki, I need a password reset &hellip; </h1>
    {{#ch-box "No longer have access to the email address?"}}
      Please email {{general-support-email}} if you not longer have
      access to the email address that was used to sign into the Clubhouse.
    {{/ch-box}}
    {{#ch-form "auth" auth validator=resetPasswordValidations onSubmit=(action "submit") as |f|}}
      <div class="form-row">
        {{f.input "identification" type="text" size=30 grid="col-auto" label="Please enter your email address"}}
      </div>
      {{f.submit label="Reset Password" disabled=isSubmitting }}
      <div class="text-muted mt-4">Remembered the password? {{#link-to "login"}}Back to Login{{/link-to}}</div>
    {{/ch-form}}
  </main>
