<ChSidebar>
  <ChSidebarGroup @title="SEARCH FOR">
    <ChSidebarLink @route="search.assets" @title="Assets" @icon="broadcast-tower" iconType="s" />
    <ChSidebarLink @route="search.languages" @title="Language" @icon="language" iconType="s" />
  </ChSidebarGroup>
</ChSidebar>

<main class="col">
  {{outlet}}
</main>
