{{#ch-sidebar}}
  {{#ch-sidebar-group "SEARCH FOR"}}
    {{ch-sidebar-link "search.assets" title="Assets" icon="broadcast-tower" iconType="s"}}
    {{ch-sidebar-link "search.languages" title="Language" icon="language" iconType="s"}}
  {{/ch-sidebar-group}}
{{/ch-sidebar}}

<main class="col">
  {{outlet}}
</main>
